In [1]:
import glob
import pandas as pd
from datetime import datetime, timedelta

In [2]:
cd C:\Users\sjtsi\Documents\Intern project\dashboard2

C:\Users\sjtsi\Documents\Intern project\dashboard2

In [3]:
joblisting = pd.concat(map(pd.read_csv, ['career_jet_df.csv', 'Global_Markets.csv', 'indeed_jobs.csv']))

In [4]:
joblisting

,Unnamed: 0,title,company,location,job_desc,date_posted,date_scrapped,salary,job_url
0,0,AWS Data Science Architect (QlikView & QlikSen...,iSanqa Resourcing,"Midrand, Johannesburg",AWS Data Science Architect (QlikView & QlikSen...,None,2022-05-08,NaN,https://www.careerjet.co.za/jobad/zae5921d3d4a...
1,1,Business Intelligence Developer (with Cloud an...,e-Merge IT Recruitment,"Johannesburg, Gauteng",An awesome opportunity is available for a Busi...,2 days ago,2022-05-08,NaN,https://www.careerjet.co.za/jobad/zadbe4ba70e8...
2,2,Data science manager,Communicate Recruitment,"Johannesburg, Gauteng",*Reference: CPM008305-THa-2* Our client in f...,3 days ago,2022-05-08,"R620,000-700,000 per year",https://www.careerjet.co.za/jobad/zae0c9b80b17...
3,3,Data science manager,Communicate Recruitment,"Johannesburg, Gauteng",*Reference: CPM008305-RMo-1* Our client in f...,3 days ago,2022-05-08,"R620,000-700,000 per year",https://www.careerjet.co.za/jobad/zab3ed08a036...
4,4,Business Intelligence Developer (with Cloud an...,e-Merge IT Recruitment,"Johannesburg, Gauteng",An awesome opportunity is available for a Busi...,3 days ago,2022-05-08,NaN,https://www.careerjet.co.za/jobad/za589075d2ad...
...,...,...,...,...,...,...,...,...,...
3925,505,new(Junior / Senior) Data Scientist - Sports A...,EAB,+1 locationRemote,Provide guidance and technical mentorship for ...,Posted3 days ago,2022-05-20,"$88,000 - $220,000 a year",https://www.indeed.com/rc/clk?jk=d4892583d4d1b...
3926,506,newUS - Data Scientist,EAB,+1 locationRemote,They focus in applying machine learning techni...,Posted3 days ago,2022-05-20,"$88,000 - $220,000 a year",https://www.indeed.com/rc/clk?jk=d4892583d4d1b...
3927,507,data scientist (multiple openings) - Remote,EAB,+1 locationRemote,Experience building complex data sets from mul...,Posted3 days ago,2022-05-20,"$88,000 - $220,000 a year",https://www.indeed.com/rc/clk?jk=d4892583d4d1b...
3928,508,Data Scientist,EAB,+1 locationRemote,Experience with automatic machine learning (Au...,Posted3 days ago,2022-05-20,"$88,000 - $220,000 a year",https://www.indeed.com/rc/clk?jk=d4892583d4d1b...
3929,509,Data Scientist,EAB,+1 locationRemote,"Performs duties related to data mining, machin...",Posted3 days ago,2022-05-20,"$88,000 - $220,000 a year",https://www.indeed.com/rc/clk?jk=d4892583d4d1b...

In [5]:
#remove duplicates
joblisting.drop_duplicates()
#joblisting.shape

,Unnamed: 0,title,company,location,job_desc,date_posted,date_scrapped,salary,job_url
0,0,AWS Data Science Architect (QlikView & QlikSen...,iSanqa Resourcing,"Midrand, Johannesburg",AWS Data Science Architect (QlikView & QlikSen...,None,2022-05-08,NaN,https://www.careerjet.co.za/jobad/zae5921d3d4a...
1,1,Business Intelligence Developer (with Cloud an...,e-Merge IT Recruitment,"Johannesburg, Gauteng",An awesome opportunity is available for a Busi...,2 days ago,2022-05-08,NaN,https://www.careerjet.co.za/jobad/zadbe4ba70e8...
2,2,Data science manager,Communicate Recruitment,"Johannesburg, Gauteng",*Reference: CPM008305-THa-2* Our client in f...,3 days ago,2022-05-08,"R620,000-700,000 per year",https://www.careerjet.co.za/jobad/zae0c9b80b17...
3,3,Data science manager,Communicate Recruitment,"Johannesburg, Gauteng",*Reference: CPM008305-RMo-1* Our client in f...,3 days ago,2022-05-08,"R620,000-700,000 per year",https://www.careerjet.co.za/jobad/zab3ed08a036...
4,4,Business Intelligence Developer (with Cloud an...,e-Merge IT Recruitment,"Johannesburg, Gauteng",An awesome opportunity is available for a Busi...,3 days ago,2022-05-08,NaN,https://www.careerjet.co.za/jobad/za589075d2ad...
...,...,...,...,...,...,...,...,...,...
3925,505,new(Junior / Senior) Data Scientist - Sports A...,EAB,+1 locationRemote,Provide guidance and technical mentorship for ...,Posted3 days ago,2022-05-20,"$88,000 - $220,000 a year",https://www.indeed.com/rc/clk?jk=d4892583d4d1b...
3926,506,newUS - Data Scientist,EAB,+1 locationRemote,They focus in applying machine learning techni...,Posted3 days ago,2022-05-20,"$88,000 - $220,000 a year",https://www.indeed.com/rc/clk?jk=d4892583d4d1b...
3927,507,data scientist (multiple openings) - Remote,EAB,+1 locationRemote,Experience building complex data sets from mul...,Posted3 days ago,2022-05-20,"$88,000 - $220,000 a year",https://www.indeed.com/rc/clk?jk=d4892583d4d1b...
3928,508,Data Scientist,EAB,+1 locationRemote,Experience with automatic machine learning (Au...,Posted3 days ago,2022-05-20,"$88,000 - $220,000 a year",https://www.indeed.com/rc/clk?jk=d4892583d4d1b...
3929,509,Data Scientist,EAB,+1 locationRemote,"Performs duties related to data mining, machin...",Posted3 days ago,2022-05-20,"$88,000 - $220,000 a year",https://www.indeed.com/rc/clk?jk=d4892583d4d1b...

In [6]:
#create experience feature

def experience(x):
   
    junior = ['internship', 'junior', 'graduate']
    mid_level= ['3 years', '4 years', 'exceptional', 'experience']
    senior = ['sr', 'manager', '6 year', '10 years', 'lead']
    
    for word in x.lower().split():
        if word in junior:
            return 'Junior'
        elif word in senior:
            return 'Senior'
        elif word in mid_level:
            return 'Mid_level 3-5 years'
        else:
            return 'Mid_level 1-2 years'

In [7]:
joblisting['experience'] = joblisting['job_desc'].apply(experience)

In [8]:
#remove alphabets
joblisting['number_days'] = joblisting['date_posted'].str.extract('(\d+)', expand=False)

In [9]:
joblisting['date_scrapped'] = pd.to_datetime(joblisting['date_scrapped'])

In [10]:
#convert number days to date and minus
joblisting['number_days'] = joblisting['number_days'].fillna(0).astype(int)
joblisting['number_days']

0       0
1       2
2       3
3       3
4       3
       ..
3925    3
3926    3
3927    3
3928    3
3929    3
Name: number_days, Length: 8930, dtype: int32

In [11]:
joblisting['date2'] = joblisting['date_scrapped'] -  pd.to_timedelta(joblisting['number_days'], unit = 'd')
joblisting['date2']

0      2022-05-08
1      2022-05-06
2      2022-05-05
3      2022-05-05
4      2022-05-05
          ...
3925   2022-05-17
3926   2022-05-17
3927   2022-05-17
3928   2022-05-17
3929   2022-05-17
Name: date2, Length: 8930, dtype: datetime64[ns]

In [12]:
joblisting

,Unnamed: 0,title,company,location,job_desc,date_posted,date_scrapped,salary,job_url,experience,number_days,date2
0,0,AWS Data Science Architect (QlikView & QlikSen...,iSanqa Resourcing,"Midrand, Johannesburg",AWS Data Science Architect (QlikView & QlikSen...,None,2022-05-08,NaN,https://www.careerjet.co.za/jobad/zae5921d3d4a...,Mid_level 1-2 years,0,2022-05-08
1,1,Business Intelligence Developer (with Cloud an...,e-Merge IT Recruitment,"Johannesburg, Gauteng",An awesome opportunity is available for a Busi...,2 days ago,2022-05-08,NaN,https://www.careerjet.co.za/jobad/zadbe4ba70e8...,Mid_level 1-2 years,2,2022-05-06
2,2,Data science manager,Communicate Recruitment,"Johannesburg, Gauteng",*Reference: CPM008305-THa-2* Our client in f...,3 days ago,2022-05-08,"R620,000-700,000 per year",https://www.careerjet.co.za/jobad/zae0c9b80b17...,Mid_level 1-2 years,3,2022-05-05
3,3,Data science manager,Communicate Recruitment,"Johannesburg, Gauteng",*Reference: CPM008305-RMo-1* Our client in f...,3 days ago,2022-05-08,"R620,000-700,000 per year",https://www.careerjet.co.za/jobad/zab3ed08a036...,Mid_level 1-2 years,3,2022-05-05
4,4,Business Intelligence Developer (with Cloud an...,e-Merge IT Recruitment,"Johannesburg, Gauteng",An awesome opportunity is available for a Busi...,3 days ago,2022-05-08,NaN,https://www.careerjet.co.za/jobad/za589075d2ad...,Mid_level 1-2 years,3,2022-05-05
...,...,...,...,...,...,...,...,...,...,...,...,...
3925,505,new(Junior / Senior) Data Scientist - Sports A...,EAB,+1 locationRemote,Provide guidance and technical mentorship for ...,Posted3 days ago,2022-05-20,"$88,000 - $220,000 a year",https://www.indeed.com/rc/clk?jk=d4892583d4d1b...,Mid_level 1-2 years,3,2022-05-17
3926,506,newUS - Data Scientist,EAB,+1 locationRemote,They focus in applying machine learning techni...,Posted3 days ago,2022-05-20,"$88,000 - $220,000 a year",https://www.indeed.com/rc/clk?jk=d4892583d4d1b...,Mid_level 1-2 years,3,2022-05-17
3927,507,data scientist (multiple openings) - Remote,EAB,+1 locationRemote,Experience building complex data sets from mul...,Posted3 days ago,2022-05-20,"$88,000 - $220,000 a year",https://www.indeed.com/rc/clk?jk=d4892583d4d1b...,Mid_level 3-5 years,3,2022-05-17
3928,508,Data Scientist,EAB,+1 locationRemote,Experience with automatic machine learning (Au...,Posted3 days ago,2022-05-20,"$88,000 - $220,000 a year",https://www.indeed.com/rc/clk?jk=d4892583d4d1b...,Mid_level 3-5 years,3,2022-05-17
3929,509,Data Scientist,EAB,+1 locationRemote,"Performs duties related to data mining, machin...",Posted3 days ago,2022-05-20,"$88,000 - $220,000 a year",https://www.indeed.com/rc/clk?jk=d4892583d4d1b...,Mid_level 1-2 years,3,2022-05-17

In [13]:
joblisting['title']

0       AWS Data Science Architect (QlikView & QlikSen...
1       Business Intelligence Developer (with Cloud an...
2                                    Data science manager
3                                    Data science manager
4       Business Intelligence Developer (with Cloud an...
                              ...
3925    new(Junior / Senior) Data Scientist - Sports A...
3926                               newUS - Data Scientist
3927          data scientist (multiple openings) - Remote
3928                                       Data Scientist
3929                                       Data Scientist
Name: title, Length: 8930, dtype: object

In [14]:
#fix title

def fix_title(x):
    
    machine_learning = ['machine', 'learning']
    data_scientist = ['data','scientist', 'science']
    bus_intel = ['business', 'intelligence', 'developer']
    data_analyst = ['data', 'analyst',]
    aws = ['aws', 'data', 'science', 'architect']
    data_engineer = ['engineer', 'engineering']
    software = ['software']
    
    for word in x.lower().split():
        if word in machine_learning:
            return 'Machine Learning'
        elif word in data_scientist:
            return 'Data scientist'
        elif word in bus_intel:
            return 'Business Intelligence'
        elif word in aws:
            return 'AWS Data Science Architect'
        elif word in data_analyst:
            return 'Data analyst'
        elif word in data_engineer:
            return 'Data engineer'
        elif word in software:
            return 'Software Developer'
        else:
            return 'Data Science'

In [15]:
joblisting['summary_title']= joblisting['job_desc'].apply(fix_title)

In [16]:
joblisting['country']

KeyError: 'country'

In [16]:
#create education feature

def education(x):
    type_edu = []
    education = ['bsc', 'honors', '11', '12', 'diploma', 'degree', 'nqf', 'masters', 'phd', 'prof', 'professor', 'grade']
    
    for word in x.lower().split():
        if word in education:
            type_edu.append(word)
    return ' '.join(type_edu)

In [17]:
joblisting['education'] =joblisting['job_desc'].apply(education)

In [18]:
def group_edu(x):
    if x == 'bsc' or x== 'degree':
        return 'degree/bsc'
    elif x == '11':
        return 'grade 11'
    elif x== '12':
        return 'grade 12'

In [19]:
joblisting['education'] =joblisting['job_desc'].apply(group_edu)

In [20]:
joblisting['education'].value_counts()

Series([], Name: education, dtype: int64)

In [21]:
joblisting['location'].str.replace('[^\w\s]','')

<ipython-input-21-6e582352cab3>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  joblisting['location'].str.replace('[^\w\s]','')

0       Midrand Johannesburg
1       Johannesburg Gauteng
2       Johannesburg Gauteng
3       Johannesburg Gauteng
4       Johannesburg Gauteng
                ...
3925        1 locationRemote
3926        1 locationRemote
3927        1 locationRemote
3928        1 locationRemote
3929        1 locationRemote
Name: location, Length: 8930, dtype: object

In [ ]:
joblisting['location'].iloc[6000].split()

In [22]:
def province(x):
    type_prov = []
    #x= x.str.replace('[^\w\s\d]',' ')
    provinces = ['gauteng','johannesburg', 'sandton','parktown','natal', 'limpopo', 'durban', 'kwazulu', 'midrand', 'stellenbosch','centurion','western','cape', 'pretoria','town', 'midrand' 'limpopo','north','west','eastern Cape','free' 'State','mpumalanga','northen cape']
    remote = []
    for word in x.lower().split():
        if word in provinces:
            type_prov.append(word)
        elif word not in provinces:
            remote.append(word)
    for y in type_prov:
        if y == 'johannesburg' or y == 'gauteng'or y == 'midrand' or  y == 'pretoria' or y == 'centurion':
            return 'Gauteng'
        elif y == 'stellenbosch'or y == 'western' or y ==  'cape':
            return 'Western Cape'
        elif y == 'durban' or y == 'kwazulu':
            return 'Kwazulu-Natal'
        elif y == 'limpopo':
            return 'Limpopo'
        elif y == 'eastern':
            return 'Eastern Cape'
        elif y== 'free state':
            return 'Free State'
        elif y== 'limpopo':
            return 'Limpopo'
        elif y == 'northen':
            return 'Northen' or 'cape'
        elif y== 'mpumalanga':
            return ' Mpumalanga'
        elif y == 'north' or 'west':
            return 'North West'
    for z in remote:
        if z in str(['united states','somerville', 'plano','dearborn','MI', 'sydney','NSW','Tampa','FL','Dallas','TX','San', 'Francisco','CA','Brooklyn','NY','US','Santa Clara','Seattle','WA','Plano','TX','New York City','NY','San Diego','Mountain View','CA','Livonia','MI','McLean','IL','Winter Park','FL']).lower():
            return 'Remote in the US'
        if z in str(['England','London','Cambridge','Manchester','Newcastle','Strand','Bristol Area','Bristol Area','Oxford','Birmingham','Nottingham','Liverpool','County Durham','England','Cambridge','Berkshire','Greater London']).lower():
            return 'Remote in England'
        if z in str(['AUE','Dubai,Abu Dhabi']).lower():
            return 'Remote in AUE'
        if z in str(['Autralia', 'Canberra','ACT']).lower():
            return 'Remote in Australia'
        if z in ['singapore']:
            return 'Remote in Singapore'
        else:
            return 'Remote'
                     

    #return ' '.join(remote)

In [23]:
joblisting['province']= joblisting['location'].apply(province)

In [25]:
def country(x):
    provinces = ['Gauteng', 'Limpopo', 'Western Cape', 'Free State', 'Eastern Cape', 'Kwazulu-Natal', 'Mpumalanga', 'North West', 'Northern Cape']
    if x in provinces:
        return 'South Africa'
    elif x == 'Remote in the US':
        return 'United States of America'
    elif x == 'Remote in England':
        return 'England'
    elif x=='Remote in AUE':
        return 'UAE'
    elif x== 'Remote in Singapore':
        return 'Singapore'
    elif x== 'Remote':
        return 'Remote'

In [26]:
joblisting['country']= joblisting['province'].apply(country)

In [ ]:
joblisting.head()

In [27]:
joblisting['country']

0       South Africa
1       South Africa
2       South Africa
3       South Africa
4       South Africa
            ...
3925          Remote
3926          Remote
3927          Remote
3928          Remote
3929          Remote
Name: country, Length: 8930, dtype: object

In [46]:
joblisting2 = joblisting[joblisting['country'] == 'South Africa']
joblisting2

,Unnamed: 0,title,company,location,job_desc,date_posted,date_scrapped,salary,job_url,experience,number_days,date2,summary_title,education,province,country
0,0,AWS Data Science Architect (QlikView & QlikSen...,iSanqa Resourcing,"Midrand, Johannesburg",AWS Data Science Architect (QlikView & QlikSen...,None,2022-05-08,NaN,https://www.careerjet.co.za/jobad/zae5921d3d4a...,Mid_level 1-2 years,0,2022-05-08,AWS Data Science Architect,None,Gauteng,South Africa
1,1,Business Intelligence Developer (with Cloud an...,e-Merge IT Recruitment,"Johannesburg, Gauteng",An awesome opportunity is available for a Busi...,2 days ago,2022-05-08,NaN,https://www.careerjet.co.za/jobad/zadbe4ba70e8...,Mid_level 1-2 years,2,2022-05-06,Data Science,None,Gauteng,South Africa
2,2,Data science manager,Communicate Recruitment,"Johannesburg, Gauteng",*Reference: CPM008305-THa-2* Our client in f...,3 days ago,2022-05-08,"R620,000-700,000 per year",https://www.careerjet.co.za/jobad/zae0c9b80b17...,Mid_level 1-2 years,3,2022-05-05,Data Science,None,Gauteng,South Africa
3,3,Data science manager,Communicate Recruitment,"Johannesburg, Gauteng",*Reference: CPM008305-RMo-1* Our client in f...,3 days ago,2022-05-08,"R620,000-700,000 per year",https://www.careerjet.co.za/jobad/zab3ed08a036...,Mid_level 1-2 years,3,2022-05-05,Data Science,None,Gauteng,South Africa
4,4,Business Intelligence Developer (with Cloud an...,e-Merge IT Recruitment,"Johannesburg, Gauteng",An awesome opportunity is available for a Busi...,3 days ago,2022-05-08,NaN,https://www.careerjet.co.za/jobad/za589075d2ad...,Mid_level 1-2 years,3,2022-05-05,Data Science,None,Gauteng,South Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3415,75,IGCSE Computer Science Senior Teacher,None,"Cape Town, Western Cape",IGCSE Computer Science Senior Teacher UK Cur...,14 days ago,2022-05-08,NaN,https://www.careerjet.co.za/jobad/zaaa332ee51e...,Mid_level 1-2 years,14,2022-04-24,Data Science,None,Western Cape,South Africa
3416,76,Science Senior Teacher,None,"Cape Town, Western Cape",Science Senior Teacher UK Curriculum DESCR...,14 days ago,2022-05-08,NaN,https://www.careerjet.co.za/jobad/zaebeb5cee7d...,Mid_level 1-2 years,14,2022-04-24,Data scientist,None,Western Cape,South Africa
3417,77,Senior Physical Science Teacher,None,"Cape Town, Western Cape",Senior Physical Science Teacher UK Curriculu...,14 days ago,2022-05-08,NaN,https://www.careerjet.co.za/jobad/za48ff3c15b3...,Mid_level 1-2 years,14,2022-04-24,Data Science,None,Western Cape,South Africa
3418,78,Data Scientist (Remote) Market related,Parvana Strategic Sourcing,"Cape Town, Western Cape",Parvana Strategic Sourcing has established its...,3 days ago,2022-05-08,NaN,https://www.careerjet.co.za/jobad/zaf66e44eea0...,Mid_level 1-2 years,3,2022-05-05,Data Science,None,Western Cape,South Africa
3419,79,Physical Science Teacher: International GCSE,None,"Cape Town, Western Cape",Physical Science Teacher UK Curriculum | Int...,15 days ago,2022-05-08,NaN,https://www.careerjet.co.za/jobad/zaebeb5d9c40...,Mid_level 1-2 years,15,2022-04-23,Data Science,None,Western Cape,South Africa

In [45]:
joblisting2 = joblisting.groupby(['country','province']).size().reset_index()

AttributeError: 'DataFrameGroupBy' object has no attribute 'reset_index'

In [ ]:
joblisting['country'].value_counts()

In [ ]:
for word in joblisting['job_desc']:
    print(word)

In [ ]:
#create skills feature

In [50]:
job_listing_2 = joblisting.groupby(['country', 'province', 'date2'])[['title']].count().reset_index()

In [53]:
 
joblisting.country.value_counts()

Remote                      3247
South Africa                3157
England                     1587
UAE                          675
United States of America     249
Name: country, dtype: int64

In [52]:
#create a province feature

array(['South Africa', 'Remote', 'England', 'United States of America',
       'UAE', None], dtype=object)

In [ ]:
#create type of work feature

In [ ]:
#gettin only the numerics

joblisting['number_days'] = joblisting['date_posted'].str.extract('(\d+)', expand=False)

In [ ]:
joblisting

In [ ]:
jobs_by_provinces = joblisting.groupby(['province', 'country', 'number_days'])[['title']].count().reset_index()

In [ ]:
jobs_by_provinces