In [1]:
#https://www.indeed.com/jobs?q=data%20science&vjk=112aad486886a532

In [2]:
#https://www.indeed.com/jobs?q=data%20science&start&vjk=186d713c08e65295

In [1]:
#libraries needed for webscrapping

import requests # request accesing pages
from bs4 import BeautifulSoup # to scrape html code from pages
import pandas as pd # to create a data frame
import numpy as np # generate random times for pauses between requests 
import re
import string
from datetime import datetime

In [2]:
def extract(page):
    #check my user agent
    headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.127 Safari/537.36'}
    #use url from career site put page
    url = f'https://www.indeed.com/jobs?q=data%20science&start={page}'
    res = requests.get(url, headers)
    #add soup variable
    soup = BeautifulSoup(res.content, 'lxml')
    return soup

In [3]:
def transform(soup):
    #jobs = soup.find_all('div', class_ ='slider_item')
    jobs = soup.find_all('div', class_ ='slider_item')
    for job in jobs:
        try:
            #title = job.find('h2', class_='jobTitle').get_text()
            title = job.find('a').text.strip()
        except:
            title = 'None'
        comp = soup.find('td', class_ ='resultContent')
        company_ = comp.find('div', class_ = 'heading6 company_location tapItem-gutter companyInfo')
        try:
            company = company_.find('span').text.strip()
        except:
            company = ''
       # try:
            #company = soup.find('span', class_ ='companyName')
        #except:
            #company = 'None'
        #try:
            #company_ = company.find('div', class_ = 'heading6 company_location tapItem-gutter companyInfo')
        #except:
            
        #co_name = company_.find('span').text.strip()
    
    #salary = soup.find('div', class_ = 'heading6 tapItem-gutter metadataContainer noJEMChips salaryOnly')
        try:
            salary = soup.find('div', 'metadata salary-snippet-container').text.strip()
        except:
            salary = ''
        try:
            location_ = soup.find('div', class_ ='companyLocation').text.strip()
        except:
            location_ = 'None'
            
        date_posted = soup.find('span', class_= 'date').text.strip()  ###
   
        desc = job.find('div', class_ = 'job-snippet').text.strip().replace('\n', '') ####
    #atag = item.find_all('a').text.strip()
        atag = soup.h2.a  ####
        
        job_url = 'https://www.indeed.com' +str(atag.get('href'))  ###
        date_collected = datetime.today().strftime('%Y-%m-%d')
#print(salary)
        jobs = {'title': title,
                'company': company,
                'location': location_,
               'job_desc': desc,
               'date_posted': date_posted,
                'date_scrapped': date_collected,
               'salary': salary,
               'job_url': job_url}
            
       
        job_list1.append(jobs)
    return

In [4]:
job_list1 = []
c = extract(0)
transform(c)
print(len(job_list1))

15

In [5]:
#create a while loop to through entire web
for i in range(0,650,10):
    c = extract(0)
    transform(c)

In [6]:
test  = pd.DataFrame(job_list1)
test

,title,company,location,job_desc,date_posted,date_scrapped,salary,job_url
0,newData Scientist 2,The Coca-Cola Company,"Plano, TX 75024+1 location",Partner with business and technical stakeholde...,Posted2 days ago,2022-05-30,"$3,300 - $4,800 a month",https://www.indeed.com/rc/clk?jk=4fa4e0a800f30...
1,"CO-OP, DATA SCIENCE",The Coca-Cola Company,"Plano, TX 75024+1 location",Leveraging internal and external data to ident...,Posted2 days ago,2022-05-30,"$3,300 - $4,800 a month",https://www.indeed.com/rc/clk?jk=4fa4e0a800f30...
2,Data Science & Analytics,The Coca-Cola Company,"Plano, TX 75024+1 location","As much as youâ€™re a master at rigorous mining,...",Posted2 days ago,2022-05-30,"$3,300 - $4,800 a month",https://www.indeed.com/rc/clk?jk=4fa4e0a800f30...
3,newJr. Data Analyst,The Coca-Cola Company,"Plano, TX 75024+1 location",Update data sets and models frequently.Identif...,Posted2 days ago,2022-05-30,"$3,300 - $4,800 a month",https://www.indeed.com/rc/clk?jk=4fa4e0a800f30...
4,newData Scientist (Contract),The Coca-Cola Company,"Plano, TX 75024+1 location",Data scientist contract data scientist contrac...,Posted2 days ago,2022-05-30,"$3,300 - $4,800 a month",https://www.indeed.com/rc/clk?jk=4fa4e0a800f30...
...,...,...,...,...,...,...,...,...
985,Part-Time Student-Data Analytics-Remote,Pathrise,Remote,Identify business improvement projects through...,Posted30+ days ago,2022-05-30,$30 - $60 an hour,https://www.indeed.com/rc/clk?jk=1ca4abef538da...
986,newData Scientist (R-12119),Pathrise,Remote,Knowledge of key data science concepts and bes...,Posted30+ days ago,2022-05-30,$30 - $60 an hour,https://www.indeed.com/rc/clk?jk=1ca4abef538da...
987,Data Scientist,Pathrise,Remote,"Python, SQL, Tableau, data science experience ...",Posted30+ days ago,2022-05-30,$30 - $60 an hour,https://www.indeed.com/rc/clk?jk=1ca4abef538da...
988,newStudent Employee - Data Science,Pathrise,Remote,Candidates will support subject matter experts...,Posted30+ days ago,2022-05-30,$30 - $60 an hour,https://www.indeed.com/rc/clk?jk=1ca4abef538da...
989,Data Analyst,Pathrise,Remote,Strong data processing and analysis skills.,Posted30+ days ago,2022-05-30,$30 - $60 an hour,https://www.indeed.com/rc/clk?jk=1ca4abef538da...

In [7]:
#print(jobs)

In [ ]:
print(company)

In [ ]:
print(jobs)

###  Indeed jobs

### Remote


#### Search word: Data scientist = Remote

In [ ]:
https://www.indeed.com/jobs?q=data%20scientist&l=Remote&ts=1651547016072&rs=1&vjk=d4892583d4d1b6b9

In [8]:
def extract(page):
    #check my user agent
    headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.127 Safari/537.36'}
    #use url from career site put page
    url = f'https://www.indeed.com/jobs?q=data%20scientist&l=Remote&start={page}'
    res = requests.get(url, headers)
    #add soup variable
    soup = BeautifulSoup(res.content, 'lxml')
    return soup

In [9]:
def transform(soup):
    #jobs = soup.find_all('div', class_ ='slider_item')
    jobs = soup.find_all('div', class_ ='slider_item')
    for job in jobs:
        try:
            #title = job.find('h2', class_='jobTitle').get_text()
            title = job.find('a').text.strip()
        except:
            title = 'None'
        comp = soup.find('td', class_ ='resultContent')
        company_ = comp.find('div', class_ = 'heading6 company_location tapItem-gutter companyInfo')
        try:
            company = company_.find('span').text.strip()
        except:
            company = ''
        #try:
           # company = soup.find('span', class_ ='companyName')
        #except:
            #company = 'None'
        #try:
            #company_ = company.find('div', class_ = 'heading6 company_location tapItem-gutter companyInfo')
        #except:
            
        #co_name = company_.find('span').text.strip()
    
    #salary = soup.find('div', class_ = 'heading6 tapItem-gutter metadataContainer noJEMChips salaryOnly')
        try:
            salary = soup.find('div', 'metadata salary-snippet-container').text.strip()
        except:
            salary = ''
        try:
            location_ = soup.find('div', class_ ='companyLocation').text.strip()
        except:
            location_ = 'None'
            
        date_posted = soup.find('span', class_= 'date').text.strip()  ###
   
        desc = job.find('div', class_ = 'job-snippet').text.strip().replace('\n', '') ####
    #atag = item.find_all('a').text.strip()
        atag = soup.h2.a  ####
        
        job_url = 'https://www.indeed.com' +str(atag.get('href'))  ###
        date_collected = datetime.today().strftime('%Y-%m-%d')
#print(salary)
        jobs = {'title': title,
                'company': company,
                'location': location_,
               'job_desc': desc,
               'date_posted': date_posted,
                'date_scrapped': date_collected,
               'salary': salary,
               'job_url': job_url}
            
       
        job_list2.append(jobs)
    return

In [10]:
job_list2 = []
c = extract(0)
transform(c)
print(len(job_list2))

15

In [11]:
#create a while loop to through entire web
for i in range(0,330,10):
    c = extract(0)
    transform(c)

In [12]:
remote  = pd.DataFrame(job_list2)
remote

,title,company,location,job_desc,date_posted,date_scrapped,salary,job_url
0,"Data Scientist, Spotify Advertising",Spotify,"Remote in New York, NY+9 locations",You have the technical competence to perform m...,Posted30+ days ago,2022-05-30,"$75,000 - $150,000 a year",https://www.indeed.com/rc/clk?jk=cf1dfad666491...
1,(Junior / Senior) Data Scientist - Sports Anal...,Spotify,"Remote in New York, NY+9 locations",Provide guidance and technical mentorship for ...,Posted30+ days ago,2022-05-30,"$75,000 - $150,000 a year",https://www.indeed.com/rc/clk?jk=cf1dfad666491...
2,Data Scientist Assistant,Spotify,"Remote in New York, NY+9 locations",Experience in building data pipelines or apply...,Posted30+ days ago,2022-05-30,"$75,000 - $150,000 a year",https://www.indeed.com/rc/clk?jk=cf1dfad666491...
3,Data Scientist (Junior),Spotify,"Remote in New York, NY+9 locations","For example, combining public weather data wit...",Posted30+ days ago,2022-05-30,"$75,000 - $150,000 a year",https://www.indeed.com/rc/clk?jk=cf1dfad666491...
4,newData Scientist (R-12119),Spotify,"Remote in New York, NY+9 locations",Experience applying modern machine learning te...,Posted30+ days ago,2022-05-30,"$75,000 - $150,000 a year",https://www.indeed.com/rc/clk?jk=cf1dfad666491...
...,...,...,...,...,...,...,...,...
505,"Data Scientist II, Trust & Safety",Spotify,"Remote in New York, NY+9 locations","Comprehensive health coverage, competitive sal...",Posted30+ days ago,2022-05-30,"$75,000 - $150,000 a year",https://www.indeed.com/rc/clk?jk=cf1dfad666491...
506,Data Scientist,Spotify,"Remote in New York, NY+9 locations","At Amplify, data scientists work as embedded m...",Posted30+ days ago,2022-05-30,"$75,000 - $150,000 a year",https://www.indeed.com/rc/clk?jk=cf1dfad666491...
507,Senior Data Scientist,Spotify,"Remote in New York, NY+9 locations",Independently run data science projects end-to...,Posted30+ days ago,2022-05-30,"$75,000 - $150,000 a year",https://www.indeed.com/rc/clk?jk=cf1dfad666491...
508,Data Scientist - Commercial Analytics (Open to...,Spotify,"Remote in New York, NY+9 locations",You will work with the Director of Data Scienc...,Posted30+ days ago,2022-05-30,"$75,000 - $150,000 a year",https://www.indeed.com/rc/clk?jk=cf1dfad666491...
509,Graduate Data Scientist - Role Can be Remote,Spotify,"Remote in New York, NY+9 locations",Build understanding of the Mars Petcare data e...,Posted30+ days ago,2022-05-30,"$75,000 - $150,000 a year",https://www.indeed.com/rc/clk?jk=cf1dfad666491...

In [ ]:
remote['company'].unique()

### Indeed jobs

#### data science in Dubai

In [ ]:
https://ae.indeed.com/jobs?q=data%20scientist&l=Dubai&vjk=1f7ac72465db3e92

In [13]:
def extract(page):
    #check my user agent
    headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.127 Safari/537.36'}
    #use url from career site put page
    url = f'https://ae.indeed.com/jobs?q=data%20scientist&l=Dubai&start={page}'
    res = requests.get(url, headers)
    #add soup variable
    soup = BeautifulSoup(res.content, 'lxml')
    return soup

In [14]:
def transform(soup):
    #jobs = soup.find_all('div', class_ ='slider_item')
    jobs = soup.find_all('div', class_ ='slider_item')
    for job in jobs:
        try:
            #title = job.find('h2', class_='jobTitle').get_text()
            title = job.find('a').text.strip()
        except:
            title = 'None'
        comp = soup.find('td', class_ ='resultContent')
        company_ = comp.find('div', class_ = 'heading6 company_location tapItem-gutter companyInfo')
        try:
            company = company_.find('span').text.strip()
        except:
            company = ''
        #try:
           # company = soup.find('span', class_ ='companyName')
        #except:
            #company = 'None'
        #try:
            #company_ = company.find('div', class_ = 'heading6 company_location tapItem-gutter companyInfo')
        #except:
            
        #co_name = company_.find('span').text.strip()
    
    #salary = soup.find('div', class_ = 'heading6 tapItem-gutter metadataContainer noJEMChips salaryOnly')
        try:
            salary = soup.find('div', 'metadata salary-snippet-container').text.strip()
        except:
            salary = ''
        try:
            location_ = soup.find('div', class_ ='companyLocation').text.strip()
        except:
            location_ = 'None'
            
        date_posted = soup.find('span', class_= 'date').text.strip()  ###
   
        desc = job.find('div', class_ = 'job-snippet').text.strip().replace('\n', '') ####
    #atag = item.find_all('a').text.strip()
        atag = soup.h2.a  ####
        
        job_url = 'https://www.indeed.com' +str(atag.get('href'))  ###
        date_collected = datetime.today().strftime('%Y-%m-%d')
#print(salary)
        jobs = {'title': title,
                'company': company,
                'location': location_,
               'job_desc': desc,
               'date_posted': date_posted,
                'date_scrapped': date_collected,
               'salary': salary,
               'job_url': job_url}
            
       
        job_list3.append(jobs)
    return

In [15]:
job_list3 = []
c = extract(0)
transform(c)
print(len(job_list3))

15

In [16]:
#create a while loop to through entire web
for i in range(0,50,10):
    c = extract(0)
    transform(c)

In [17]:
Dubai = pd.DataFrame(job_list3)
Dubai

,title,company,location,job_desc,date_posted,date_scrapped,salary,job_url
0,Data Scientist,Affaan Technologies,Dubai,Create algorithms to extract information from ...,Posted30+ days ago,2022-05-30,,https://www.indeed.com/rc/clk?jk=1f7ac72465db3...
1,newSenior Data Scientist - Marketplace,Affaan Technologies,Dubai,You will be responsible for managing and mento...,Posted30+ days ago,2022-05-30,,https://www.indeed.com/rc/clk?jk=1f7ac72465db3...
2,IFS - HC - People Analytics Data Scientist Sen...,Affaan Technologies,Dubai,Supporting people data-driven projects - inclu...,Posted30+ days ago,2022-05-30,,https://www.indeed.com/rc/clk?jk=1f7ac72465db3...
3,newField Service Representative - Commercial,Affaan Technologies,Dubai,Researches company and customer data to resolv...,Posted30+ days ago,2022-05-30,,https://www.indeed.com/rc/clk?jk=1f7ac72465db3...
4,Associate,Affaan Technologies,Dubai,+ Accountable for a variety of complex deliver...,Posted30+ days ago,2022-05-30,,https://www.indeed.com/rc/clk?jk=1f7ac72465db3...
...,...,...,...,...,...,...,...,...
85,"Applied Scientist, MENA Tech",Affaan Technologies,Dubai,Proven track record in technically leading and...,Posted30+ days ago,2022-05-30,,https://www.indeed.com/rc/clk?jk=1f7ac72465db3...
86,Data Scientist,Affaan Technologies,Dubai,1.Minimum of 8+ yearsâ€™ relevant experience in ...,Posted30+ days ago,2022-05-30,,https://www.indeed.com/rc/clk?jk=1f7ac72465db3...
87,Remuneration and Benefits Specialist,Affaan Technologies,Dubai,Excellent analytical and reporting skills with...,Posted30+ days ago,2022-05-30,,https://www.indeed.com/rc/clk?jk=1f7ac72465db3...
88,Analytical Data Lead,Affaan Technologies,Dubai,"Supervise, direct, manage, guide the analytica...",Posted30+ days ago,2022-05-30,,https://www.indeed.com/rc/clk?jk=1f7ac72465db3...
89,Data Engineer,Affaan Technologies,Dubai,"Demonstrated strength in data modeling, ETL de...",Posted30+ days ago,2022-05-30,,https://www.indeed.com/rc/clk?jk=1f7ac72465db3...

In [ ]:
#Dubai['company'].unique()

In [ ]:
#Dubai['title'].unique()

In [ ]:
#Dubai['job_url'][0]

### Indeed jobs

#### Abu Dhabhi

#### Data scientist

In [ ]:
https://ae.indeed.com/jobs?q=data%20scientist&l=Abu%20Dhabi&vjk=a1a29e91f88fe9dd

In [18]:
def extract(page):
    #check my user agent
    headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.127 Safari/537.36'}
    #use url from career site put page
    url = f'https://ae.indeed.com/jobs?q=data%20scientist&l=Abu%20Dhabi&start={page}'
    res = requests.get(url, headers)
    #add soup variable
    soup = BeautifulSoup(res.content, 'lxml')
    return soup

In [19]:
def transform(soup):
    #jobs = soup.find_all('div', class_ ='slider_item')
    jobs = soup.find_all('div', class_ ='slider_item')
    for job in jobs:
        try:
            #title = job.find('h2', class_='jobTitle').get_text()
            title = job.find('a').text.strip()
        except:
            title = 'None'
        comp = soup.find('td', class_ ='resultContent')
        company_ = comp.find('div', class_ = 'heading6 company_location tapItem-gutter companyInfo')
        try:
            company = company_.find('span').text.strip()
        except:
            company = ''
        #try:
           # company = soup.find('span', class_ ='companyName')
        #except:
            #company = 'None'
        #try:
            #company_ = company.find('div', class_ = 'heading6 company_location tapItem-gutter companyInfo')
        #except:
            
        #co_name = company_.find('span').text.strip()
    
    #salary = soup.find('div', class_ = 'heading6 tapItem-gutter metadataContainer noJEMChips salaryOnly')
        try:
            salary = soup.find('div', 'metadata salary-snippet-container').text.strip()
        except:
            salary = ''
        try:
            location_ = soup.find('div', class_ ='companyLocation').text.strip()
        except:
            location_ = 'None'
            
        date_posted = soup.find('span', class_= 'date').text.strip()  ###
   
        desc = job.find('div', class_ = 'job-snippet').text.strip().replace('\n', '') ####
    #atag = item.find_all('a').text.strip()
        atag = soup.h2.a  ####
        
        job_url = 'https://www.indeed.com' +str(atag.get('href'))  ###
        date_collected = datetime.today().strftime('%Y-%m-%d')
#print(salary)
        jobs = {'title': title,
                'company': company,
                'location': location_,
               'job_desc': desc,
               'date_posted': date_posted,
                'date_scrapped': date_collected,
               'salary': salary,
               'job_url': job_url}
            
       
        job_list4.append(jobs)
    return

In [20]:
job_list4 = []
c = extract(0)
transform(c)
print(len(job_list4))

15

In [21]:
#create a while loop to through entire web
for i in range(0,50,10):
    c = extract(0)
    transform(c)

In [22]:
Abu_Dhabhi = pd.DataFrame(job_list4)
Abu_Dhabhi

,title,company,location,job_desc,date_posted,date_scrapped,salary,job_url
0,Data Scientist (Extendable Contract),Halian,Abu Dhabi,Ability to handle large volumes of semi-struct...,Posted11 days ago,2022-05-30,,https://www.indeed.com/rc/clk?jk=a1a29e91f88fe...
1,Business Analyst Intern,Halian,Abu Dhabi,Youâ€™ll work in teams of typically 3 â€“ 5 consul...,Posted11 days ago,2022-05-30,,https://www.indeed.com/rc/clk?jk=a1a29e91f88fe...
2,Associate Intern,Halian,Abu Dhabi,You'll work in teams of typically 3 - 5 consul...,Posted11 days ago,2022-05-30,,https://www.indeed.com/rc/clk?jk=a1a29e91f88fe...
3,Junior Associate,Halian,Abu Dhabi,Junior Associates join our offices and practic...,Posted11 days ago,2022-05-30,,https://www.indeed.com/rc/clk?jk=a1a29e91f88fe...
4,newData Scientist for Digital Enterprise Labs,Halian,Abu Dhabi,"Perform data quality assessment, data stitchin...",Posted11 days ago,2022-05-30,,https://www.indeed.com/rc/clk?jk=a1a29e91f88fe...
...,...,...,...,...,...,...,...,...
85,newData Scientist for Digital Enterprise Labs,Halian,Abu Dhabi,"Perform data quality assessment, data stitchin...",Posted11 days ago,2022-05-30,,https://www.indeed.com/rc/clk?jk=a1a29e91f88fe...
86,025: Data Science Engineer (Abu Dhabi),Halian,Abu Dhabi,Key to success is your expertise in the field ...,Posted11 days ago,2022-05-30,,https://www.indeed.com/rc/clk?jk=a1a29e91f88fe...
87,067: Senior Data Scientist,Halian,Abu Dhabi,Our client is an Artificial General Intelligen...,Posted11 days ago,2022-05-30,,https://www.indeed.com/rc/clk?jk=a1a29e91f88fe...
88,Software Developer,Halian,Abu Dhabi,He/she will be responsible for building scalab...,Posted11 days ago,2022-05-30,,https://www.indeed.com/rc/clk?jk=a1a29e91f88fe...
89,newProject Surveyor III,Halian,Abu Dhabi,Working independently or supervising others to...,Posted11 days ago,2022-05-30,,https://www.indeed.com/rc/clk?jk=a1a29e91f88fe...

### UK Indeed jobs

Data scientist

In [ ]:
https://uk.indeed.com/jobs?q=data%20scientist&l=United%20Kingdom&vjk=a863223ac5385f66

In [23]:
def extract(page):
    #check my user agent
    headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.127 Safari/537.36'}
    #use url from career site put page
    url = f'https://uk.indeed.com/jobs?q=data%20scientist&l=United%20Kingdom&start={page}'
    res = requests.get(url, headers)
    #add soup variable
    soup = BeautifulSoup(res.content, 'lxml')
    return soup

In [24]:
def transform(soup):
    #jobs = soup.find_all('div', class_ ='slider_item')
    jobs = soup.find_all('div', class_ ='slider_item')
    for job in jobs:
        try:
            #title = job.find('h2', class_='jobTitle').get_text()
            title = job.find('a').text.strip()
        except:
            title = 'None'
        comp = soup.find('td', class_ ='resultContent')
        company_ = comp.find('div', class_ = 'heading6 company_location tapItem-gutter companyInfo')
        try:
            company = company_.find('span').text.strip()
        except:
            company = ''
        #try:
           # company = soup.find('span', class_ ='companyName')
        #except:
            #company = 'None'
        #try:
            #company_ = company.find('div', class_ = 'heading6 company_location tapItem-gutter companyInfo')
        #except:
            
        #co_name = company_.find('span').text.strip()
    
    #salary = soup.find('div', class_ = 'heading6 tapItem-gutter metadataContainer noJEMChips salaryOnly')
        try:
            salary = soup.find('div', 'metadata salary-snippet-container').text.strip()
        except:
            salary = ''
        try:
            location_ = soup.find('div', class_ ='companyLocation').text.strip()
        except:
            location_ = 'None'
            
        date_posted = soup.find('span', class_= 'date').text.strip()  ###
   
        desc = job.find('div', class_ = 'job-snippet').text.strip().replace('\n', '') ####
    #atag = item.find_all('a').text.strip()
        atag = soup.h2.a  ####
        
        job_url = 'https://www.indeed.com' +str(atag.get('href'))  ###
        date_collected = datetime.today().strftime('%Y-%m-%d')
#print(salary)
        jobs = {'title': title,
                'company': company,
                'location': location_,
               'job_desc': desc,
               'date_posted': date_posted,
                'date_scrapped': date_collected,
               'salary': salary,
               'job_url': job_url}
            
       
        job_list5.append(jobs)
    return

In [25]:
job_list5 = []
c = extract(0)
transform(c)
print(len(job_list5))

15

In [26]:
#create a while loop to through entire web
for i in range(0,340,10):
    c = extract(0)
    transform(c)

In [27]:
Uk = pd.DataFrame(job_list5)
Uk

,title,company,location,job_desc,date_posted,date_scrapped,salary,job_url
0,newData Scientist,Lloyds Banking Group,London,Work with team members to engineer data from o...,Posted3 days ago,2022-05-30,"Â£41,592 - Â£51,990 a year",https://www.indeed.com/rc/clk?jk=2b84ab1619d9e...
1,newData Scientist,Lloyds Banking Group,London,Specialist in mining large & sophisticated dat...,Posted3 days ago,2022-05-30,"Â£41,592 - Â£51,990 a year",https://www.indeed.com/rc/clk?jk=2b84ab1619d9e...
2,newData Scientist,Lloyds Banking Group,London,The directorate is key to ensuring that LAS is...,Posted3 days ago,2022-05-30,"Â£41,592 - Â£51,990 a year",https://www.indeed.com/rc/clk?jk=2b84ab1619d9e...
3,newData Scientist,Lloyds Banking Group,London,Be part of a larger data science business unit...,Posted3 days ago,2022-05-30,"Â£41,592 - Â£51,990 a year",https://www.indeed.com/rc/clk?jk=2b84ab1619d9e...
4,Business and Marketing Data Scientist,Lloyds Banking Group,London,"Experience in data science, data extraction, a...",Posted3 days ago,2022-05-30,"Â£41,592 - Â£51,990 a year",https://www.indeed.com/rc/clk?jk=2b84ab1619d9e...
...,...,...,...,...,...,...,...,...
520,Junior Data Scientist,Lloyds Banking Group,London,This role will require building data infrastru...,Posted3 days ago,2022-05-30,"Â£41,592 - Â£51,990 a year",https://www.indeed.com/rc/clk?jk=2b84ab1619d9e...
521,Data Scientist,Lloyds Banking Group,London,You will oversee from raw data to model develo...,Posted3 days ago,2022-05-30,"Â£41,592 - Â£51,990 a year",https://www.indeed.com/rc/clk?jk=2b84ab1619d9e...
522,newData Scientist - FX Services - Currencies &...,Lloyds Banking Group,London,Analyze multiple large data sets and apply adv...,Posted3 days ago,2022-05-30,"Â£41,592 - Â£51,990 a year",https://www.indeed.com/rc/clk?jk=2b84ab1619d9e...
523,Digital Data Scientist,Lloyds Banking Group,London,"Support Digital teams with their data, analysi...",Posted3 days ago,2022-05-30,"Â£41,592 - Â£51,990 a year",https://www.indeed.com/rc/clk?jk=2b84ab1619d9e...
524,Data Scientist - Fraud,Lloyds Banking Group,London,Credit bureau data and solution familiarity.Th...,Posted3 days ago,2022-05-30,"Â£41,592 - Â£51,990 a year",https://www.indeed.com/rc/clk?jk=2b84ab1619d9e...

### Australia indeed jobs

In [ ]:
https://au.indeed.com/jobs?q=data%20scientist&l=Australia&vjk=b01ea1c82cd27f65

In [28]:
def extract(page):
    #check my user agent
    headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.127 Safari/537.36'}
    #use url from career site put page
    url = f'https://au.indeed.com/jobs?q=data%20scientist&l=Australia&start={page}'
    res = requests.get(url, headers)
    #add soup variable
    soup = BeautifulSoup(res.content, 'lxml')
    return soup

In [29]:
def transform(soup):
    #jobs = soup.find_all('div', class_ ='slider_item')
    jobs = soup.find_all('div', class_ ='slider_item')
    for job in jobs:
        try:
            #title = job.find('h2', class_='jobTitle').get_text()
            title = job.find('a').text.strip()
        except:
            title = 'None'
        comp = soup.find('td', class_ ='resultContent')
        company_ = comp.find('div', class_ = 'heading6 company_location tapItem-gutter companyInfo')
        try:
            company = company_.find('span').text.strip()
        except:
            company = ''
        #try:
           # company = soup.find('span', class_ ='companyName')
        #except:
            #company = 'None'
        #try:
            #company_ = company.find('div', class_ = 'heading6 company_location tapItem-gutter companyInfo')
        #except:
            
        #co_name = company_.find('span').text.strip()
    
    #salary = soup.find('div', class_ = 'heading6 tapItem-gutter metadataContainer noJEMChips salaryOnly')
        try:
            salary = soup.find('div', 'metadata salary-snippet-container').text.strip()
        except:
            salary = ''
        try:
            location_ = soup.find('div', class_ ='companyLocation').text.strip()
        except:
            location_ = 'None'
            
        date_posted = soup.find('span', class_= 'date').text.strip()  ###
   
        desc = job.find('div', class_ = 'job-snippet').text.strip().replace('\n', '') ####
    #atag = item.find_all('a').text.strip()
        atag = soup.h2.a  ####
        
        job_url = 'https://www.indeed.com' +str(atag.get('href'))  ###
        date_collected = datetime.today().strftime('%Y-%m-%d')
#print(salary)
        jobs = {'title': title,
                'company': company,
                'location': location_,
               'job_desc': desc,
               'date_posted': date_posted,
                'date_scrapped': date_collected,
               'salary': salary,
               'job_url': job_url}
            
       
        job_list6.append(jobs)
    return

In [30]:
job_list6 = []
c = extract(0)
transform(c)
print(len(job_list6))

15

In [31]:
#create a while loop to through entire web
for i in range(0,130,10):
    c = extract(0)
    transform(c)

In [32]:
Australia = pd.DataFrame(job_list6)
Australia

,title,company,location,job_desc,date_posted,date_scrapped,salary,job_url
0,Data Scientist,Kinesso,Sydney NSW,1+ years proven experience as a data scientist...,Posted11 days ago,2022-05-30,"$85,000 a year",https://www.indeed.com/rc/clk?jk=9515a6ff4291e...
1,newData Scientist,Kinesso,Sydney NSW,Experience with cloud-based data storage.Sound...,Posted11 days ago,2022-05-30,"$85,000 a year",https://www.indeed.com/rc/clk?jk=9515a6ff4291e...
2,newData Scientist,Kinesso,Sydney NSW,This role will require working closely with ke...,Posted11 days ago,2022-05-30,"$85,000 a year",https://www.indeed.com/rc/clk?jk=9515a6ff4291e...
3,Graduate Data Scientist - Melbourne,Kinesso,Sydney NSW,Practical experience applying data science and...,Posted11 days ago,2022-05-30,"$85,000 a year",https://www.indeed.com/rc/clk?jk=9515a6ff4291e...
4,newData Scientist,Kinesso,Sydney NSW,Identifying relevant data sources for business...,Posted11 days ago,2022-05-30,"$85,000 a year",https://www.indeed.com/rc/clk?jk=9515a6ff4291e...
...,...,...,...,...,...,...,...,...
205,Data Scientist,Kinesso,Sydney NSW,Proficiency with statistical/data science pack...,Posted11 days ago,2022-05-30,"$85,000 a year",https://www.indeed.com/rc/clk?jk=9515a6ff4291e...
206,"newData Scientist - Lead, Scaled Sales",Kinesso,Sydney NSW,Experience in big data sets - developing & mai...,Posted11 days ago,2022-05-30,"$85,000 a year",https://www.indeed.com/rc/clk?jk=9515a6ff4291e...
207,Data Scientist,Kinesso,Sydney NSW,Source data from multiple data sources.Analyse...,Posted11 days ago,2022-05-30,"$85,000 a year",https://www.indeed.com/rc/clk?jk=9515a6ff4291e...
208,Junior Data Scientist,Kinesso,Sydney NSW,"Such analyses may leverage illion's own data, ...",Posted11 days ago,2022-05-30,"$85,000 a year",https://www.indeed.com/rc/clk?jk=9515a6ff4291e...
209,Junior Data Scientist,Kinesso,Sydney NSW,"Such analyses may leverage illion's own data, ...",Posted11 days ago,2022-05-30,"$85,000 a year",https://www.indeed.com/rc/clk?jk=9515a6ff4291e...

### Singapore Indeed

In [ ]:
https://sg.indeed.com/jobs?q=data%20scientist&l=Singapore&vjk=0a95cba397876b01

In [33]:
def extract(page):
    #check my user agent
    headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.127 Safari/537.36'}
    #use url from career site put page
    url = f'https://sg.indeed.com/jobs?q=data%20scientist&l=Singapore&start={page}'
    res = requests.get(url, headers)
    #add soup variable
    soup = BeautifulSoup(res.content, 'lxml')
    return soup

In [34]:
def transform(soup):
    #jobs = soup.find_all('div', class_ ='slider_item')
    jobs = soup.find_all('div', class_ ='slider_item')
    for job in jobs:
        try:
            #title = job.find('h2', class_='jobTitle').get_text()
            title = job.find('a').text.strip()
        except:
            title = 'None'
        comp = soup.find('td', class_ ='resultContent')
        company_ = comp.find('div', class_ = 'heading6 company_location tapItem-gutter companyInfo')
        try:
            company = company_.find('span').text.strip()
        except:
            company = ''
        #try:
           # company = soup.find('span', class_ ='companyName')
        #except:
            #company = 'None'
        #try:
            #company_ = company.find('div', class_ = 'heading6 company_location tapItem-gutter companyInfo')
        #except:
            
        #co_name = company_.find('span').text.strip()
    
    #salary = soup.find('div', class_ = 'heading6 tapItem-gutter metadataContainer noJEMChips salaryOnly')
        try:
            salary = soup.find('div', 'metadata salary-snippet-container').text.strip()
        except:
            salary = ''
        try:
            location_ = soup.find('div', class_ ='companyLocation').text.strip()
        except:
            location_ = 'None'
            
        date_posted = soup.find('span', class_= 'date').text.strip()  ###
   
        desc = job.find('div', class_ = 'job-snippet').text.strip().replace('\n', '') ####
    #atag = item.find_all('a').text.strip()
        atag = soup.h2.a  ####
        
        job_url = 'https://www.indeed.com' +str(atag.get('href'))  ###
        date_collected = datetime.today().strftime('%Y-%m-%d')
#print(salary)
        jobs = {'title': title,
                'company': company,
                'location': location_,
               'job_desc': desc,
               'date_posted': date_posted,
                'date_scrapped': date_collected,
               'salary': salary,
               'job_url': job_url}
            
       
        job_list7.append(jobs)
    return

In [35]:
job_list7 = []
c = extract(0)
transform(c)
print(len(job_list7))

15

In [36]:
#create a while loop to through entire web
for i in range(0,330,10):
    c = extract(0)
    transform(c)

In [37]:
Singapore = pd.DataFrame(job_list7)
Singapore

,title,company,location,job_desc,date_posted,date_scrapped,salary,job_url
0,"Data Scientist Intern, Growth",TikTok,Singapore,Understand user growth instruments and use dat...,Posted30+ days ago,2022-05-30,"$4,000 - $8,000 a month",https://www.indeed.com/rc/clk?jk=4ca16d669ab63...
1,Data Scientist,TikTok,Singapore,"Deep technical and data science expertise, inc...",Posted30+ days ago,2022-05-30,"$4,000 - $8,000 a month",https://www.indeed.com/rc/clk?jk=4ca16d669ab63...
2,newData Scientist (Fintech),TikTok,Singapore,Work with team to analyzing on-chain and marke...,Posted30+ days ago,2022-05-30,"$4,000 - $8,000 a month",https://www.indeed.com/rc/clk?jk=4ca16d669ab63...
3,newAssociate Data Scientist,TikTok,Singapore,6 months to an year of experience in working o...,Posted30+ days ago,2022-05-30,"$4,000 - $8,000 a month",https://www.indeed.com/rc/clk?jk=4ca16d669ab63...
4,Data Scientist,TikTok,Singapore,Process real time click-stream data using Kafk...,Posted30+ days ago,2022-05-30,"$4,000 - $8,000 a month",https://www.indeed.com/rc/clk?jk=4ca16d669ab63...
...,...,...,...,...,...,...,...,...
505,newSenior Data Scientist / Data Scientist,TikTok,Singapore,Process real time click-stream data using Kafk...,Posted30+ days ago,2022-05-30,"$4,000 - $8,000 a month",https://www.indeed.com/rc/clk?jk=4ca16d669ab63...
506,"Data Scientist, AppleCare",TikTok,Singapore,"Meticulous attention to detail, data integrity...",Posted30+ days ago,2022-05-30,"$4,000 - $8,000 a month",https://www.indeed.com/rc/clk?jk=4ca16d669ab63...
507,Data Scientist,TikTok,Singapore,Utilize diverse internal and external data sou...,Posted30+ days ago,2022-05-30,"$4,000 - $8,000 a month",https://www.indeed.com/rc/clk?jk=4ca16d669ab63...
508,Data Science Trainee / Junior Data Analyst (2-...,TikTok,Singapore,"You will collect, analyze, and interpret data ...",Posted30+ days ago,2022-05-30,"$4,000 - $8,000 a month",https://www.indeed.com/rc/clk?jk=4ca16d669ab63...
509,newData Scientist,TikTok,Singapore,In-depth knowledge of machine learning algorit...,Posted30+ days ago,2022-05-30,"$4,000 - $8,000 a month",https://www.indeed.com/rc/clk?jk=4ca16d669ab63...

In [ ]:
https://www.indeed.com/jobs?q=data%20scientist&l=Remote&

### Remote indeed jobs

In [38]:
def extract(page):
    #check my user agent
    headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.127 Safari/537.36'}
    #use url from career site put page
    url = f'https://www.indeed.com/jobs?q=data%20scientist&l=Remote&start={page}'
    res = requests.get(url, headers)
    #add soup variable
    soup = BeautifulSoup(res.content, 'lxml')
    return soup

In [39]:
def transform(soup):
    #jobs = soup.find_all('div', class_ ='slider_item')
    jobs = soup.find_all('div', class_ ='slider_item')
    for job in jobs:
        try:
            #title = job.find('h2', class_='jobTitle').get_text()
            title = job.find('a').text.strip()
        except:
            title = 'None'
        comp = soup.find('td', class_ ='resultContent')
        company_ = comp.find('div', class_ = 'heading6 company_location tapItem-gutter companyInfo')
        try:
            company = company_.find('span').text.strip()
        except:
            company = ''
        #try:
           # company = soup.find('span', class_ ='companyName')
        #except:
            #company = 'None'
        #try:
            #company_ = company.find('div', class_ = 'heading6 company_location tapItem-gutter companyInfo')
        #except:
            
        #co_name = company_.find('span').text.strip()
    
    #salary = soup.find('div', class_ = 'heading6 tapItem-gutter metadataContainer noJEMChips salaryOnly')
        try:
            salary = soup.find('div', 'metadata salary-snippet-container').text.strip()
        except:
            salary = ''
        try:
            location_ = soup.find('div', class_ ='companyLocation').text.strip()
        except:
            location_ = 'None'
            
        date_posted = soup.find('span', class_= 'date').text.strip()  ###
   
        desc = job.find('div', class_ = 'job-snippet').text.strip().replace('\n', '') ####
    #atag = item.find_all('a').text.strip()
        atag = soup.h2.a  ####
        
        job_url = 'https://www.indeed.com' +str(atag.get('href'))  ###
        date_collected = datetime.today().strftime('%Y-%m-%d')
#print(salary)
        jobs = {'title': title,
                'company': company,
                'location': location_,
               'job_desc': desc,
               'date_posted': date_posted,
                'date_scrapped': date_collected,
               'salary': salary,
               'job_url': job_url}
            
       
        job_list8.append(jobs)
    return

In [40]:
job_list8 = []
c = extract(0)
transform(c)
print(len(job_list8))

15

In [41]:
#create a while loop to through entire web
for i in range(0,330,10):
    c = extract(0)
    transform(c)

In [42]:
Remote = pd.DataFrame(job_list8)
Remote

,title,company,location,job_desc,date_posted,date_scrapped,salary,job_url
0,Data Scientist Assistant,American Institutes for Research,Remote+2 locations,Experience in building data pipelines or apply...,Posted9 days ago,2022-05-30,"$75,000 - $150,000 a year",https://www.indeed.com/rc/clk?jk=4e5558ab9037b...
1,(Junior / Senior) Data Scientist - Sports Anal...,American Institutes for Research,Remote+2 locations,Provide guidance and technical mentorship for ...,Posted9 days ago,2022-05-30,"$75,000 - $150,000 a year",https://www.indeed.com/rc/clk?jk=4e5558ab9037b...
2,newData Scientist (R-12119),American Institutes for Research,Remote+2 locations,Experience applying modern machine learning te...,Posted9 days ago,2022-05-30,"$75,000 - $150,000 a year",https://www.indeed.com/rc/clk?jk=4e5558ab9037b...
3,"Data Scientist II, Workforce Staffing Market I...",American Institutes for Research,Remote+2 locations,You will collaborate closely as part of a blen...,Posted9 days ago,2022-05-30,"$75,000 - $150,000 a year",https://www.indeed.com/rc/clk?jk=4e5558ab9037b...
4,Data Scientist (Junior),American Institutes for Research,Remote+2 locations,"For example, combining public weather data wit...",Posted9 days ago,2022-05-30,"$75,000 - $150,000 a year",https://www.indeed.com/rc/clk?jk=4e5558ab9037b...
...,...,...,...,...,...,...,...,...
505,"Data Scientist II, Trust & Safety",Spotify,"Remote in New York, NY+9 locations","Comprehensive health coverage, competitive sal...",Posted30+ days ago,2022-05-30,"$75,000 - $150,000 a year",https://www.indeed.com/rc/clk?jk=cf1dfad666491...
506,Data Scientist,Spotify,"Remote in New York, NY+9 locations","At Amplify, data scientists work as embedded m...",Posted30+ days ago,2022-05-30,"$75,000 - $150,000 a year",https://www.indeed.com/rc/clk?jk=cf1dfad666491...
507,Senior Data Scientist,Spotify,"Remote in New York, NY+9 locations",Independently run data science projects end-to...,Posted30+ days ago,2022-05-30,"$75,000 - $150,000 a year",https://www.indeed.com/rc/clk?jk=cf1dfad666491...
508,Data Scientist - Commercial Analytics (Open to...,Spotify,"Remote in New York, NY+9 locations",You will work with the Director of Data Scienc...,Posted30+ days ago,2022-05-30,"$75,000 - $150,000 a year",https://www.indeed.com/rc/clk?jk=cf1dfad666491...
509,Graduate Data Scientist - Role Can be Remote,Spotify,"Remote in New York, NY+9 locations",Build understanding of the Mars Petcare data e...,Posted30+ days ago,2022-05-30,"$75,000 - $150,000 a year",https://www.indeed.com/rc/clk?jk=cf1dfad666491...

In [43]:
ind_df = pd.concat([test, remote,Dubai,Abu_Dhabhi,Uk,Australia,Singapore,Remote])

In [44]:
ind_df.to_csv('indeed_jobsMAY30.csv')

In [ ]:
#ind_df.to_csv('indeed_jobsM24.csv')

In [ ]:
#ind_df.to_csv('indeed_jobs.csv')

In [45]:
ind_df.shape

(3435, 8)

In [ ]:
#import os
#import time

#while True: 
   # os.system("Untitled2Indeed.py")
    #time.sleep(60*60)