In [1]:
#https://www.indeed.com/jobs?q=data%20science&vjk=112aad486886a532

In [2]:
#https://www.indeed.com/jobs?q=data%20science&start&vjk=186d713c08e65295

In [19]:
#libraries needed for webscrapping

import requests # request accesing pages
from bs4 import BeautifulSoup # to scrape html code from pages
import pandas as pd # to create a data frame
import numpy as np # generate random times for pauses between requests 
import re
import string
from datetime import datetime

In [26]:
def extract(page):
    #check my user agent
    headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.127 Safari/537.36'}
    #use url from career site put page
    url = f'https://www.indeed.com/jobs?q=data%20science&start={page}'
    res = requests.get(url, headers)
    #add soup variable
    soup = BeautifulSoup(res.content, 'lxml')
    return soup

In [27]:
def transform(soup):
    #jobs = soup.find_all('div', class_ ='slider_item')
    jobs = soup.find_all('div', class_ ='slider_item')
    for job in jobs:
        try:
            title = job.find('h2', class_='jobTitle').get_text()
        except:
            title = 'None'
        comp = soup.find('td', class_ ='resultContent')
        company_ = comp.find('div', class_ = 'heading6 company_location tapItem-gutter companyInfo')
        try:
            company = company_.find('span').text.strip()
        except:
            company = ''
       # try:
            #company = soup.find('span', class_ ='companyName')
        #except:
            #company = 'None'
        #try:
            #company_ = company.find('div', class_ = 'heading6 company_location tapItem-gutter companyInfo')
        #except:
            
        #co_name = company_.find('span').text.strip()
    
    #salary = soup.find('div', class_ = 'heading6 tapItem-gutter metadataContainer noJEMChips salaryOnly')
        try:
            salary = soup.find('div', 'metadata salary-snippet-container').text.strip()
        except:
            salary = ''
        try:
            location_ = soup.find('div', class_ ='companyLocation').text.strip()
        except:
            location_ = 'None'
            
        date_posted = soup.find('span', class_= 'date').text.strip()  ###
   
        desc = job.find('div', class_ = 'job-snippet').text.strip().replace('\n', '') ####
    #atag = item.find_all('a').text.strip()
        atag = soup.h2.a  ####
        
        job_url = 'https://www.indeed.com' +str(atag.get('href'))  ###
        date_collected = datetime.today().strftime('%Y-%m-%d')
#print(salary)
        jobs = {'title': title,
                'company': company,
                'location': location_,
               'job_desc': desc,
               'date_posted': date_posted,
                'date_scrapped': date_collected,
               'salary': salary,
               'job_url': job_url}
            
       
        job_list1.append(jobs)
    return

In [28]:
job_list1 = []
c = extract(0)
transform(c)
print(len(job_list1))

15

In [29]:
#create a while loop to through entire web
for i in range(0,650,10):
    c = extract(0)
    transform(c)

In [30]:
test  = pd.DataFrame(job_list1)
test

,title,company,location,job_desc,date_posted,date_scrapped,salary,job_url
0,"CO-OP, DATA SCIENCE",PUMA,"Somerville, MA",Leveraging internal and external data to ident...,Posted30+ days ago,2022-05-19,"$93,800 a year",https://www.indeed.com/rc/clk?jk=16330f4d1e351...
1,newData Scientist 1,PUMA,"Somerville, MA","Applies knowledge of statistics, mathematics, ...",Posted30+ days ago,2022-05-19,"$93,800 a year",https://www.indeed.com/rc/clk?jk=16330f4d1e351...
2,Data Science Associate (Remote),PUMA,"Somerville, MA",Bachelor/Master Degree students pursuing degre...,Posted30+ days ago,2022-05-19,"$93,800 a year",https://www.indeed.com/rc/clk?jk=16330f4d1e351...
3,"Front End Engineer, MADS- Measurement and Data...",PUMA,"Somerville, MA",Professional non-internship experience with fr...,Posted30+ days ago,2022-05-19,"$93,800 a year",https://www.indeed.com/rc/clk?jk=16330f4d1e351...
4,Seasonal Assistant - Data Analyst,PUMA,"Somerville, MA",Create new automation solutions for business d...,Posted30+ days ago,2022-05-19,"$93,800 a year",https://www.indeed.com/rc/clk?jk=16330f4d1e351...
...,...,...,...,...,...,...,...,...
985,newData Science Specialist,PUMA,"Somerville, MA","A bachelor’s degree in computer science, data ...",Posted30+ days ago,2022-05-19,"$93,800 a year",https://www.indeed.com/rc/clk?jk=16330f4d1e351...
986,Data Science & Analytics,PUMA,"Somerville, MA","As much as you’re a master at rigorous mining,...",Posted30+ days ago,2022-05-19,"$93,800 a year",https://www.indeed.com/rc/clk?jk=16330f4d1e351...
987,newData Engineer,PUMA,"Somerville, MA",Proactive data pipeline monitoring to ensure d...,Posted30+ days ago,2022-05-19,"$93,800 a year",https://www.indeed.com/rc/clk?jk=16330f4d1e351...
988,Data Science Analyst - 100% Remote,PUMA,"Somerville, MA",The Data Analyst proactively participates in d...,Posted30+ days ago,2022-05-19,"$93,800 a year",https://www.indeed.com/rc/clk?jk=16330f4d1e351...
989,"Associate, Data Science",PUMA,"Somerville, MA",Learn the use and limitations of data from var...,Posted30+ days ago,2022-05-19,"$93,800 a year",https://www.indeed.com/rc/clk?jk=16330f4d1e351...

In [ ]:
print(jobs)

In [ ]:
print(company)

In [ ]:
print(jobs)

###  Indeed jobs

### Remote


#### Search word: Data scientist = Remote

In [ ]:
https://www.indeed.com/jobs?q=data%20scientist&l=Remote&ts=1651547016072&rs=1&vjk=d4892583d4d1b6b9

In [14]:
def extract(page):
    #check my user agent
    headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.127 Safari/537.36'}
    #use url from career site put page
    url = f'https://www.indeed.com/jobs?q=data%20scientist&l=Remote&start={page}'
    res = requests.get(url, headers)
    #add soup variable
    soup = BeautifulSoup(res.content, 'lxml')
    return soup

In [21]:
def transform(soup):
    #jobs = soup.find_all('div', class_ ='slider_item')
    jobs = soup.find_all('div', class_ ='slider_item')
    for job in jobs:
        try:
            title = job.find('h2', class_='jobTitle').get_text()
        except:
            title = 'None'
        comp = soup.find('td', class_ ='resultContent')
        company_ = comp.find('div', class_ = 'heading6 company_location tapItem-gutter companyInfo')
        try:
            company = company_.find('span').text.strip()
        except:
            company = ''
        #try:
           # company = soup.find('span', class_ ='companyName')
        #except:
            #company = 'None'
        #try:
            #company_ = company.find('div', class_ = 'heading6 company_location tapItem-gutter companyInfo')
        #except:
            
        #co_name = company_.find('span').text.strip()
    
    #salary = soup.find('div', class_ = 'heading6 tapItem-gutter metadataContainer noJEMChips salaryOnly')
        try:
            salary = soup.find('div', 'metadata salary-snippet-container').text.strip()
        except:
            salary = ''
        try:
            location_ = soup.find('div', class_ ='companyLocation').text.strip()
        except:
            location_ = 'None'
            
        date_posted = soup.find('span', class_= 'date').text.strip()  ###
   
        desc = job.find('div', class_ = 'job-snippet').text.strip().replace('\n', '') ####
    #atag = item.find_all('a').text.strip()
        atag = soup.h2.a  ####
        
        job_url = 'https://www.indeed.com' +str(atag.get('href'))  ###
        date_collected = datetime.today().strftime('%Y-%m-%d')
#print(salary)
        jobs = {'title': title,
                'company': company,
                'location': location_,
               'job_desc': desc,
               'date_posted': date_posted,
                'date_scrapped': date_collected,
               'salary': salary,
               'job_url': job_url}
            
       
        job_list2.append(jobs)
    return

In [22]:
job_list2 = []
c = extract(0)
transform(c)
print(len(job_list2))

15

In [23]:
#create a while loop to through entire web
for i in range(0,330,10):
    c = extract(0)
    transform(c)

In [24]:
remote  = pd.DataFrame(job_list2)
remote

,title,company,location,job_desc,date_posted,date_scrapped,salary,job_url
0,newData Scientist,Toyota,"Remote in Plano, TX 75023+1 location",The Data Scientist will be a technology leader...,Posted1 day ago,2022-05-19,"$88,000 - $220,000 a year",https://www.indeed.com/rc/clk?jk=990e7165c9b5e...
1,Data Scientist (Remote),Toyota,"Remote in Plano, TX 75023+1 location","Communicate key insights from analyses, experi...",Posted1 day ago,2022-05-19,"$88,000 - $220,000 a year",https://www.indeed.com/rc/clk?jk=990e7165c9b5e...
2,Data Scientist,Toyota,"Remote in Plano, TX 75023+1 location","Performs duties related to data mining, machin...",Posted1 day ago,2022-05-19,"$88,000 - $220,000 a year",https://www.indeed.com/rc/clk?jk=990e7165c9b5e...
3,newData Scientist 1,Toyota,"Remote in Plano, TX 75023+1 location",Practical knowledge in different machine learn...,Posted1 day ago,2022-05-19,"$88,000 - $220,000 a year",https://www.indeed.com/rc/clk?jk=990e7165c9b5e...
4,newData Scientist,Toyota,"Remote in Plano, TX 75023+1 location",Practical experience and strong understanding ...,Posted1 day ago,2022-05-19,"$88,000 - $220,000 a year",https://www.indeed.com/rc/clk?jk=990e7165c9b5e...
...,...,...,...,...,...,...,...,...
505,Data Scientist II - Algorithmic Justice Specia...,Toyota,"Remote in Plano, TX 75023+1 location",Submit FOIA requests to obtain data and models...,Posted1 day ago,2022-05-19,"$88,000 - $220,000 a year",https://www.indeed.com/rc/clk?jk=990e7165c9b5e...
506,Data Scientist,Toyota,"Remote in Plano, TX 75023+1 location",Experience with automatic machine learning (Au...,Posted1 day ago,2022-05-19,"$88,000 - $220,000 a year",https://www.indeed.com/rc/clk?jk=990e7165c9b5e...
507,newData Scientist,Toyota,"Remote in Plano, TX 75023+1 location",It will also will work closely with data engin...,Posted1 day ago,2022-05-19,"$88,000 - $220,000 a year",https://www.indeed.com/rc/clk?jk=990e7165c9b5e...
508,Data Scientist (Remote),Toyota,"Remote in Plano, TX 75023+1 location","Create statistically sound data sets, analysis...",Posted1 day ago,2022-05-19,"$88,000 - $220,000 a year",https://www.indeed.com/rc/clk?jk=990e7165c9b5e...
509,newData Scientist,Toyota,"Remote in Plano, TX 75023+1 location",Discover actionable insights from data sources...,Posted1 day ago,2022-05-19,"$88,000 - $220,000 a year",https://www.indeed.com/rc/clk?jk=990e7165c9b5e...

In [25]:
remote['company'].unique()

array(['Toyota', 'Ford Motor Company', 'Amazon.com Services LLC', 'Yelp'],
      dtype=object)

### Indeed jobs

#### data science in Dubai

In [ ]:
https://ae.indeed.com/jobs?q=data%20scientist&l=Dubai&vjk=1f7ac72465db3e92

In [31]:
def extract(page):
    #check my user agent
    headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.127 Safari/537.36'}
    #use url from career site put page
    url = f'https://ae.indeed.com/jobs?q=data%20scientist&l=Dubai&start={page}'
    res = requests.get(url, headers)
    #add soup variable
    soup = BeautifulSoup(res.content, 'lxml')
    return soup

In [32]:
def transform(soup):
    #jobs = soup.find_all('div', class_ ='slider_item')
    jobs = soup.find_all('div', class_ ='slider_item')
    for job in jobs:
        try:
            title = job.find('h2', class_='jobTitle').get_text()
        except:
            title = 'None'
        comp = soup.find('td', class_ ='resultContent')
        company_ = comp.find('div', class_ = 'heading6 company_location tapItem-gutter companyInfo')
        try:
            company = company_.find('span').text.strip()
        except:
            company = ''
        #try:
           # company = soup.find('span', class_ ='companyName')
        #except:
            #company = 'None'
        #try:
            #company_ = company.find('div', class_ = 'heading6 company_location tapItem-gutter companyInfo')
        #except:
            
        #co_name = company_.find('span').text.strip()
    
    #salary = soup.find('div', class_ = 'heading6 tapItem-gutter metadataContainer noJEMChips salaryOnly')
        try:
            salary = soup.find('div', 'metadata salary-snippet-container').text.strip()
        except:
            salary = ''
        try:
            location_ = soup.find('div', class_ ='companyLocation').text.strip()
        except:
            location_ = 'None'
            
        date_posted = soup.find('span', class_= 'date').text.strip()  ###
   
        desc = job.find('div', class_ = 'job-snippet').text.strip().replace('\n', '') ####
    #atag = item.find_all('a').text.strip()
        atag = soup.h2.a  ####
        
        job_url = 'https://www.indeed.com' +str(atag.get('href'))  ###
        date_collected = datetime.today().strftime('%Y-%m-%d')
#print(salary)
        jobs = {'title': title,
                'company': company,
                'location': location_,
               'job_desc': desc,
               'date_posted': date_posted,
                'date_scrapped': date_collected,
               'salary': salary,
               'job_url': job_url}
            
       
        job_list3.append(jobs)
    return

In [33]:
job_list3 = []
c = extract(0)
transform(c)
print(len(job_list3))

15

In [36]:
#create a while loop to through entire web
for i in range(0,50,10):
    c = extract(0)
    transform(c)

In [37]:
Dubai = pd.DataFrame(job_list3)
Dubai

,title,company,location,job_desc,date_posted,date_scrapped,salary,job_url
0,Data Scientist,Affaan Technologies,Dubai,Create algorithms to extract information from ...,Posted30+ days ago,2022-05-19,,https://www.indeed.com/rc/clk?jk=1f7ac72465db3...
1,newRemuneration and Benefits Specialist,Affaan Technologies,Dubai,Excellent analytical and reporting skills with...,Posted30+ days ago,2022-05-19,,https://www.indeed.com/rc/clk?jk=1f7ac72465db3...
2,newVC-SBDM-North Africa,Affaan Technologies,Dubai,"While not a technical role, they should have d...",Posted30+ days ago,2022-05-19,,https://www.indeed.com/rc/clk?jk=1f7ac72465db3...
3,Data Analyst,Affaan Technologies,Dubai,Data Horizon: Identify the new sources of data...,Posted30+ days ago,2022-05-19,,https://www.indeed.com/rc/clk?jk=1f7ac72465db3...
4,LEAD DATA SCIENTIST - DUBAI,Affaan Technologies,Dubai,You will build monitoring solution of data pip...,Posted30+ days ago,2022-05-19,,https://www.indeed.com/rc/clk?jk=1f7ac72465db3...
...,...,...,...,...,...,...,...,...
580,Associate,Affaan Technologies,Dubai,+ Accountable for a variety of complex deliver...,Posted30+ days ago,2022-05-19,,https://www.indeed.com/rc/clk?jk=1f7ac72465db3...
581,newDigital Manager - IMC Manager,Affaan Technologies,Dubai,Data & analytical skill allowing you to manage...,Posted30+ days ago,2022-05-19,,https://www.indeed.com/rc/clk?jk=1f7ac72465db3...
582,newSenior Technical Software Engineer,Affaan Technologies,Dubai,Contribute to software and data engineering pl...,Posted30+ days ago,2022-05-19,,https://www.indeed.com/rc/clk?jk=1f7ac72465db3...
583,P3 Technical Advisor,Affaan Technologies,Dubai,O Carrying out research and data collection.O ...,Posted30+ days ago,2022-05-19,,https://www.indeed.com/rc/clk?jk=1f7ac72465db3...
584,Senior Data Analyst,Affaan Technologies,Dubai,Data Horizon: Identify the new sources of data...,Posted30+ days ago,2022-05-19,,https://www.indeed.com/rc/clk?jk=1f7ac72465db3...

In [41]:
#Dubai['company'].unique()

In [42]:
#Dubai['title'].unique()

In [43]:
#Dubai['job_url'][0]

### Indeed jobs

#### Abu Dhabhi

#### Data scientist

In [ ]:
https://ae.indeed.com/jobs?q=data%20scientist&l=Abu%20Dhabi&vjk=a1a29e91f88fe9dd

In [44]:
def extract(page):
    #check my user agent
    headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.127 Safari/537.36'}
    #use url from career site put page
    url = f'https://ae.indeed.com/jobs?q=data%20scientist&l=Abu%20Dhabi&start={page}'
    res = requests.get(url, headers)
    #add soup variable
    soup = BeautifulSoup(res.content, 'lxml')
    return soup

In [45]:
def transform(soup):
    #jobs = soup.find_all('div', class_ ='slider_item')
    jobs = soup.find_all('div', class_ ='slider_item')
    for job in jobs:
        try:
            title = job.find('h2', class_='jobTitle').get_text()
        except:
            title = 'None'
        comp = soup.find('td', class_ ='resultContent')
        company_ = comp.find('div', class_ = 'heading6 company_location tapItem-gutter companyInfo')
        try:
            company = company_.find('span').text.strip()
        except:
            company = ''
        #try:
           # company = soup.find('span', class_ ='companyName')
        #except:
            #company = 'None'
        #try:
            #company_ = company.find('div', class_ = 'heading6 company_location tapItem-gutter companyInfo')
        #except:
            
        #co_name = company_.find('span').text.strip()
    
    #salary = soup.find('div', class_ = 'heading6 tapItem-gutter metadataContainer noJEMChips salaryOnly')
        try:
            salary = soup.find('div', 'metadata salary-snippet-container').text.strip()
        except:
            salary = ''
        try:
            location_ = soup.find('div', class_ ='companyLocation').text.strip()
        except:
            location_ = 'None'
            
        date_posted = soup.find('span', class_= 'date').text.strip()  ###
   
        desc = job.find('div', class_ = 'job-snippet').text.strip().replace('\n', '') ####
    #atag = item.find_all('a').text.strip()
        atag = soup.h2.a  ####
        
        job_url = 'https://www.indeed.com' +str(atag.get('href'))  ###
        date_collected = datetime.today().strftime('%Y-%m-%d')
#print(salary)
        jobs = {'title': title,
                'company': company,
                'location': location_,
               'job_desc': desc,
               'date_posted': date_posted,
                'date_scrapped': date_collected,
               'salary': salary,
               'job_url': job_url}
            
       
        job_list4.append(jobs)
    return

In [46]:
job_list4 = []
c = extract(0)
transform(c)
print(len(job_list4))

15

In [47]:
#create a while loop to through entire web
for i in range(0,50,10):
    c = extract(0)
    transform(c)

In [48]:
Abu_Dhabhi = pd.DataFrame(job_list4)
Abu_Dhabhi

,title,company,location,job_desc,date_posted,date_scrapped,salary,job_url
0,newData Scientist (Extendable Contract),Halian,Abu Dhabi,Ability to handle large volumes of semi-struct...,PostedToday,2022-05-19,,https://www.indeed.com/rc/clk?jk=a1a29e91f88fe...
1,newSenior Associate–Data Engineer,Halian,Abu Dhabi,"Strong ability to design, build and manage dat...",PostedToday,2022-05-19,,https://www.indeed.com/rc/clk?jk=a1a29e91f88fe...
2,newData Science Manager,Halian,Abu Dhabi,Lead and empower internal and external teams o...,PostedToday,2022-05-19,,https://www.indeed.com/rc/clk?jk=a1a29e91f88fe...
3,Junior Associate,Halian,Abu Dhabi,Junior Associates join our offices and practic...,PostedToday,2022-05-19,,https://www.indeed.com/rc/clk?jk=a1a29e91f88fe...
4,newSystem Engineer,Halian,Abu Dhabi,"Fundamental AI research, through our subsidiar...",PostedToday,2022-05-19,,https://www.indeed.com/rc/clk?jk=a1a29e91f88fe...
...,...,...,...,...,...,...,...,...
85,newProject Engineering Manager,Halian,Abu Dhabi,Builds positive working relationships with ext...,PostedToday,2022-05-19,,https://www.indeed.com/rc/clk?jk=a1a29e91f88fe...
86,Business Analyst,Halian,Abu Dhabi,You'll work in teams of typically 3 - 5 consul...,PostedToday,2022-05-19,,https://www.indeed.com/rc/clk?jk=a1a29e91f88fe...
87,newDepartment Manager Process,Halian,Abu Dhabi,Provides leadership to the maintenance of a sa...,PostedToday,2022-05-19,,https://www.indeed.com/rc/clk?jk=a1a29e91f88fe...
88,newSenior Project Planner,Halian,Abu Dhabi,"48,000 people. 49 countries. Over 120 office l...",PostedToday,2022-05-19,,https://www.indeed.com/rc/clk?jk=a1a29e91f88fe...
89,newSenior I&C Engineer,Halian,Abu Dhabi,"Preparation /checking of Specifications, data ...",PostedToday,2022-05-19,,https://www.indeed.com/rc/clk?jk=a1a29e91f88fe...

### UK Indeed jobs

Data scientist

In [ ]:
https://uk.indeed.com/jobs?q=data%20scientist&l=United%20Kingdom&vjk=a863223ac5385f66

In [49]:
def extract(page):
    #check my user agent
    headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.127 Safari/537.36'}
    #use url from career site put page
    url = f'https://uk.indeed.com/jobs?q=data%20scientist&l=United%20Kingdom&start={page}'
    res = requests.get(url, headers)
    #add soup variable
    soup = BeautifulSoup(res.content, 'lxml')
    return soup

In [50]:
def transform(soup):
    #jobs = soup.find_all('div', class_ ='slider_item')
    jobs = soup.find_all('div', class_ ='slider_item')
    for job in jobs:
        try:
            title = job.find('h2', class_='jobTitle').get_text()
        except:
            title = 'None'
        comp = soup.find('td', class_ ='resultContent')
        company_ = comp.find('div', class_ = 'heading6 company_location tapItem-gutter companyInfo')
        try:
            company = company_.find('span').text.strip()
        except:
            company = ''
        #try:
           # company = soup.find('span', class_ ='companyName')
        #except:
            #company = 'None'
        #try:
            #company_ = company.find('div', class_ = 'heading6 company_location tapItem-gutter companyInfo')
        #except:
            
        #co_name = company_.find('span').text.strip()
    
    #salary = soup.find('div', class_ = 'heading6 tapItem-gutter metadataContainer noJEMChips salaryOnly')
        try:
            salary = soup.find('div', 'metadata salary-snippet-container').text.strip()
        except:
            salary = ''
        try:
            location_ = soup.find('div', class_ ='companyLocation').text.strip()
        except:
            location_ = 'None'
            
        date_posted = soup.find('span', class_= 'date').text.strip()  ###
   
        desc = job.find('div', class_ = 'job-snippet').text.strip().replace('\n', '') ####
    #atag = item.find_all('a').text.strip()
        atag = soup.h2.a  ####
        
        job_url = 'https://www.indeed.com' +str(atag.get('href'))  ###
        date_collected = datetime.today().strftime('%Y-%m-%d')
#print(salary)
        jobs = {'title': title,
                'company': company,
                'location': location_,
               'job_desc': desc,
               'date_posted': date_posted,
                'date_scrapped': date_collected,
               'salary': salary,
               'job_url': job_url}
            
       
        job_list5.append(jobs)
    return

In [51]:
job_list5 = []
c = extract(0)
transform(c)
print(len(job_list5))

15

In [52]:
#create a while loop to through entire web
for i in range(0,340,10):
    c = extract(0)
    transform(c)

In [53]:
Uk = pd.DataFrame(job_list5)
Uk

,title,company,location,job_desc,date_posted,date_scrapped,salary,job_url
0,newData Scientist,Kindred Group,London,We have invested heavily in data technologies ...,PostedToday,2022-05-20,"£50,000 a year",https://www.indeed.com/rc/clk?jk=fc2ac2721d623...
1,newData Scientist,Kindred Group,London,Your primary focus will be in applying data ma...,PostedToday,2022-05-20,"£50,000 a year",https://www.indeed.com/rc/clk?jk=fc2ac2721d623...
2,Data Scientist,Kindred Group,London,Strong ability using a variety of data mining ...,PostedToday,2022-05-20,"£50,000 a year",https://www.indeed.com/rc/clk?jk=fc2ac2721d623...
3,Data Scientist,Kindred Group,London,A broad understanding of data science includin...,PostedToday,2022-05-20,"£50,000 a year",https://www.indeed.com/rc/clk?jk=fc2ac2721d623...
4,Data Scientist,Kindred Group,London,In the research discipline you will help build...,PostedToday,2022-05-20,"£50,000 a year",https://www.indeed.com/rc/clk?jk=fc2ac2721d623...
...,...,...,...,...,...,...,...,...
520,Data Scientist,Kindred Group,London,Strong ability using a variety of data mining ...,PostedToday,2022-05-20,"£40,000 a year",https://www.indeed.com/rc/clk?jk=fc2ac2721d623...
521,newData Scientist,Kindred Group,London,Our Data Scientists act as subject matter expe...,PostedToday,2022-05-20,"£40,000 a year",https://www.indeed.com/rc/clk?jk=fc2ac2721d623...
522,newJunior Machine Learning Engineer,Kindred Group,London,Full time / Permanent - part time & flexible w...,PostedToday,2022-05-20,"£40,000 a year",https://www.indeed.com/rc/clk?jk=fc2ac2721d623...
523,Data Scientist,Kindred Group,London,The creation of high-quality data science prod...,PostedToday,2022-05-20,"£40,000 a year",https://www.indeed.com/rc/clk?jk=fc2ac2721d623...
524,newData Scientist,Kindred Group,London,"Experience in Design of Experiments, regressio...",PostedToday,2022-05-20,"£40,000 a year",https://www.indeed.com/rc/clk?jk=fc2ac2721d623...

### Australia indeed jobs

In [ ]:
https://au.indeed.com/jobs?q=data%20scientist&l=Australia&vjk=b01ea1c82cd27f65

In [54]:
def extract(page):
    #check my user agent
    headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.127 Safari/537.36'}
    #use url from career site put page
    url = f'https://au.indeed.com/jobs?q=data%20scientist&l=Australia&start={page}'
    res = requests.get(url, headers)
    #add soup variable
    soup = BeautifulSoup(res.content, 'lxml')
    return soup

In [55]:
def transform(soup):
    #jobs = soup.find_all('div', class_ ='slider_item')
    jobs = soup.find_all('div', class_ ='slider_item')
    for job in jobs:
        try:
            title = job.find('h2', class_='jobTitle').get_text()
        except:
            title = 'None'
        comp = soup.find('td', class_ ='resultContent')
        company_ = comp.find('div', class_ = 'heading6 company_location tapItem-gutter companyInfo')
        try:
            company = company_.find('span').text.strip()
        except:
            company = ''
        #try:
           # company = soup.find('span', class_ ='companyName')
        #except:
            #company = 'None'
        #try:
            #company_ = company.find('div', class_ = 'heading6 company_location tapItem-gutter companyInfo')
        #except:
            
        #co_name = company_.find('span').text.strip()
    
    #salary = soup.find('div', class_ = 'heading6 tapItem-gutter metadataContainer noJEMChips salaryOnly')
        try:
            salary = soup.find('div', 'metadata salary-snippet-container').text.strip()
        except:
            salary = ''
        try:
            location_ = soup.find('div', class_ ='companyLocation').text.strip()
        except:
            location_ = 'None'
            
        date_posted = soup.find('span', class_= 'date').text.strip()  ###
   
        desc = job.find('div', class_ = 'job-snippet').text.strip().replace('\n', '') ####
    #atag = item.find_all('a').text.strip()
        atag = soup.h2.a  ####
        
        job_url = 'https://www.indeed.com' +str(atag.get('href'))  ###
        date_collected = datetime.today().strftime('%Y-%m-%d')
#print(salary)
        jobs = {'title': title,
                'company': company,
                'location': location_,
               'job_desc': desc,
               'date_posted': date_posted,
                'date_scrapped': date_collected,
               'salary': salary,
               'job_url': job_url}
            
       
        job_list6.append(jobs)
    return

In [56]:
job_list6 = []
c = extract(0)
transform(c)
print(len(job_list6))

15

In [57]:
#create a while loop to through entire web
for i in range(0,130,10):
    c = extract(0)
    transform(c)

In [58]:
Australia = pd.DataFrame(job_list6)
Australia

,title,company,location,job_desc,date_posted,date_scrapped,salary,job_url
0,newData Scientist,Kinesso,Sydney NSW,1+ years proven experience as a data scientist...,Posted1 day ago,2022-05-20,"$85,000 a year",https://www.indeed.com/rc/clk?jk=9515a6ff4291e...
1,newData Scientist,Kinesso,Sydney NSW,Source data from multiple data sources.Analyse...,Posted1 day ago,2022-05-20,"$85,000 a year",https://www.indeed.com/rc/clk?jk=9515a6ff4291e...
2,newEarth Observation Data Scientist,Kinesso,Sydney NSW,Digital Earth Australia (DEA) delivers a uniqu...,Posted1 day ago,2022-05-20,"$85,000 a year",https://www.indeed.com/rc/clk?jk=9515a6ff4291e...
3,newData Scientist,Kinesso,Sydney NSW,Assist clinical researchers in identifying dat...,Posted1 day ago,2022-05-20,"$85,000 a year",https://www.indeed.com/rc/clk?jk=9515a6ff4291e...
4,Graduate Data Scientist - Melbourne,Kinesso,Sydney NSW,Practical experience applying data science and...,Posted1 day ago,2022-05-20,"$85,000 a year",https://www.indeed.com/rc/clk?jk=9515a6ff4291e...
...,...,...,...,...,...,...,...,...
205,newData Scientist,Findex,Australia,Good working knowledge of SQL databases includ...,Posted3 days ago,2022-05-20,"$85,000 a year",https://www.indeed.com/rc/clk?jk=78c7cd56fe329...
206,newPhD Scholarship in Machine Learning,Findex,Australia,"Full time, fixed term position at our Hawthorn...",Posted3 days ago,2022-05-20,"$85,000 a year",https://www.indeed.com/rc/clk?jk=78c7cd56fe329...
207,"Data Science Intern, 2022/2023 Summer Australia",Findex,Australia,Have experience manipulating data using one of...,Posted3 days ago,2022-05-20,"$85,000 a year",https://www.indeed.com/rc/clk?jk=78c7cd56fe329...
208,Data Scientist,Findex,Australia,"Your role, alongside the other data scientists...",Posted3 days ago,2022-05-20,"$85,000 a year",https://www.indeed.com/rc/clk?jk=78c7cd56fe329...
209,newSenior Data Scientist x 2,Findex,Australia,This role will work as a member of a discrete ...,Posted3 days ago,2022-05-20,"$85,000 a year",https://www.indeed.com/rc/clk?jk=78c7cd56fe329...

### Singapore Indeed

In [ ]:
https://sg.indeed.com/jobs?q=data%20scientist&l=Singapore&vjk=0a95cba397876b01

In [59]:
def extract(page):
    #check my user agent
    headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.127 Safari/537.36'}
    #use url from career site put page
    url = f'https://sg.indeed.com/jobs?q=data%20scientist&l=Singapore&start={page}'
    res = requests.get(url, headers)
    #add soup variable
    soup = BeautifulSoup(res.content, 'lxml')
    return soup

In [60]:
def transform(soup):
    #jobs = soup.find_all('div', class_ ='slider_item')
    jobs = soup.find_all('div', class_ ='slider_item')
    for job in jobs:
        try:
            title = job.find('h2', class_='jobTitle').get_text()
        except:
            title = 'None'
        comp = soup.find('td', class_ ='resultContent')
        company_ = comp.find('div', class_ = 'heading6 company_location tapItem-gutter companyInfo')
        try:
            company = company_.find('span').text.strip()
        except:
            company = ''
        #try:
           # company = soup.find('span', class_ ='companyName')
        #except:
            #company = 'None'
        #try:
            #company_ = company.find('div', class_ = 'heading6 company_location tapItem-gutter companyInfo')
        #except:
            
        #co_name = company_.find('span').text.strip()
    
    #salary = soup.find('div', class_ = 'heading6 tapItem-gutter metadataContainer noJEMChips salaryOnly')
        try:
            salary = soup.find('div', 'metadata salary-snippet-container').text.strip()
        except:
            salary = ''
        try:
            location_ = soup.find('div', class_ ='companyLocation').text.strip()
        except:
            location_ = 'None'
            
        date_posted = soup.find('span', class_= 'date').text.strip()  ###
   
        desc = job.find('div', class_ = 'job-snippet').text.strip().replace('\n', '') ####
    #atag = item.find_all('a').text.strip()
        atag = soup.h2.a  ####
        
        job_url = 'https://www.indeed.com' +str(atag.get('href'))  ###
        date_collected = datetime.today().strftime('%Y-%m-%d')
#print(salary)
        jobs = {'title': title,
                'company': company,
                'location': location_,
               'job_desc': desc,
               'date_posted': date_posted,
                'date_scrapped': date_collected,
               'salary': salary,
               'job_url': job_url}
            
       
        job_list7.append(jobs)
    return

In [61]:
job_list7 = []
c = extract(0)
transform(c)
print(len(job_list7))

15

In [62]:
#create a while loop to through entire web
for i in range(0,330,10):
    c = extract(0)
    transform(c)

In [63]:
Singapore = pd.DataFrame(job_list7)
Singapore

,title,company,location,job_desc,date_posted,date_scrapped,salary,job_url
0,Data Scientist Intern (Jul - Dec 2022),Siemens,Singapore+1 location,Study and transform data science prototypes.Se...,Posted10 days ago,2022-05-20,"$48,000 - $84,000 a year",https://www.indeed.com/rc/clk?jk=0a95cba397876...
1,newData Science Trainee / Junior Data Analyst ...,Siemens,Singapore+1 location,"You will collect, analyze, and interpret data ...",Posted10 days ago,2022-05-20,"$48,000 - $84,000 a year",https://www.indeed.com/rc/clk?jk=0a95cba397876...
2,newData Scientist,Siemens,Singapore+1 location,Experience with measuring and maintaining data...,Posted10 days ago,2022-05-20,"$48,000 - $84,000 a year",https://www.indeed.com/rc/clk?jk=0a95cba397876...
3,newData Scientist,Siemens,Singapore+1 location,Utilize diverse internal and external data sou...,Posted10 days ago,2022-05-20,"$48,000 - $84,000 a year",https://www.indeed.com/rc/clk?jk=0a95cba397876...
4,newData Science Trainee / Junior Data Analyst ...,Siemens,Singapore+1 location,"You will collect, analyze, and interpret data ...",Posted10 days ago,2022-05-20,"$48,000 - $84,000 a year",https://www.indeed.com/rc/clk?jk=0a95cba397876...
...,...,...,...,...,...,...,...,...
505,"newSenior Data Scientist (APAC, Remote)",Siemens,Singapore+1 location,Influence leadership to drive more data-inform...,Posted10 days ago,2022-05-20,"$48,000 - $84,000 a year",https://www.indeed.com/rc/clk?jk=0a95cba397876...
506,Data Scientist - QuantumBlack,Siemens,Singapore+1 location,You will also develop data science products an...,Posted10 days ago,2022-05-20,"$48,000 - $84,000 a year",https://www.indeed.com/rc/clk?jk=0a95cba397876...
507,"newData Scientist ""ML prototyping """,Siemens,Singapore+1 location,Work collaboratively to architect and implemen...,Posted10 days ago,2022-05-20,"$48,000 - $84,000 a year",https://www.indeed.com/rc/clk?jk=0a95cba397876...
508,Data Scientist,Siemens,Singapore+1 location,Clean up and analyse the quality of unstructur...,Posted10 days ago,2022-05-20,"$48,000 - $84,000 a year",https://www.indeed.com/rc/clk?jk=0a95cba397876...
509,"Business Data Scientist, gTech Users and Produ...",Siemens,Singapore+1 location,"Mentor analysts in other areas, data extractio...",Posted10 days ago,2022-05-20,"$48,000 - $84,000 a year",https://www.indeed.com/rc/clk?jk=0a95cba397876...

In [ ]:
https://www.indeed.com/jobs?q=data%20scientist&l=Remote&

### Remote indeed jobs

In [64]:
def extract(page):
    #check my user agent
    headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.127 Safari/537.36'}
    #use url from career site put page
    url = f'https://www.indeed.com/jobs?q=data%20scientist&l=Remote&start={page}'
    res = requests.get(url, headers)
    #add soup variable
    soup = BeautifulSoup(res.content, 'lxml')
    return soup

In [65]:
def transform(soup):
    #jobs = soup.find_all('div', class_ ='slider_item')
    jobs = soup.find_all('div', class_ ='slider_item')
    for job in jobs:
        try:
            title = job.find('h2', class_='jobTitle').get_text()
        except:
            title = 'None'
        comp = soup.find('td', class_ ='resultContent')
        company_ = comp.find('div', class_ = 'heading6 company_location tapItem-gutter companyInfo')
        try:
            company = company_.find('span').text.strip()
        except:
            company = ''
        #try:
           # company = soup.find('span', class_ ='companyName')
        #except:
            #company = 'None'
        #try:
            #company_ = company.find('div', class_ = 'heading6 company_location tapItem-gutter companyInfo')
        #except:
            
        #co_name = company_.find('span').text.strip()
    
    #salary = soup.find('div', class_ = 'heading6 tapItem-gutter metadataContainer noJEMChips salaryOnly')
        try:
            salary = soup.find('div', 'metadata salary-snippet-container').text.strip()
        except:
            salary = ''
        try:
            location_ = soup.find('div', class_ ='companyLocation').text.strip()
        except:
            location_ = 'None'
            
        date_posted = soup.find('span', class_= 'date').text.strip()  ###
   
        desc = job.find('div', class_ = 'job-snippet').text.strip().replace('\n', '') ####
    #atag = item.find_all('a').text.strip()
        atag = soup.h2.a  ####
        
        job_url = 'https://www.indeed.com' +str(atag.get('href'))  ###
        date_collected = datetime.today().strftime('%Y-%m-%d')
#print(salary)
        jobs = {'title': title,
                'company': company,
                'location': location_,
               'job_desc': desc,
               'date_posted': date_posted,
                'date_scrapped': date_collected,
               'salary': salary,
               'job_url': job_url}
            
       
        job_list8.append(jobs)
    return

In [66]:
job_list8 = []
c = extract(0)
transform(c)
print(len(job_list8))

15

In [67]:
#create a while loop to through entire web
for i in range(0,330,10):
    c = extract(0)
    transform(c)

In [68]:
Remote = pd.DataFrame(job_list8)
Remote

,title,company,location,job_desc,date_posted,date_scrapped,salary,job_url
0,"Data Scientist II, Workforce Staffing Market I...",Amazon.com Services LLC,+14 locationsRemote,You will collaborate closely as part of a blen...,Posted30+ days ago,2022-05-20,"$119,300 - $160,000 a year",https://www.indeed.com/rc/clk?jk=c60f37dae36c8...
1,Data Scientist (Remote),Amazon.com Services LLC,+14 locationsRemote,"Communicate key insights from analyses, experi...",Posted30+ days ago,2022-05-20,"$119,300 - $160,000 a year",https://www.indeed.com/rc/clk?jk=c60f37dae36c8...
2,newData Scientist,Amazon.com Services LLC,+14 locationsRemote,"Design, validate, and visualize data-driven mo...",Posted30+ days ago,2022-05-20,"$119,300 - $160,000 a year",https://www.indeed.com/rc/clk?jk=c60f37dae36c8...
3,new(Junior / Senior) Data Scientist - Sports A...,Amazon.com Services LLC,+14 locationsRemote,Provide guidance and technical mentorship for ...,Posted30+ days ago,2022-05-20,"$119,300 - $160,000 a year",https://www.indeed.com/rc/clk?jk=c60f37dae36c8...
4,Data Scientist (Junior),Amazon.com Services LLC,+14 locationsRemote,"For example, combining public weather data wit...",Posted30+ days ago,2022-05-20,"$119,300 - $160,000 a year",https://www.indeed.com/rc/clk?jk=c60f37dae36c8...
...,...,...,...,...,...,...,...,...
505,new(Junior / Senior) Data Scientist - Sports A...,EAB,+1 locationRemote,Provide guidance and technical mentorship for ...,Posted3 days ago,2022-05-20,"$88,000 - $220,000 a year",https://www.indeed.com/rc/clk?jk=d4892583d4d1b...
506,newUS - Data Scientist,EAB,+1 locationRemote,They focus in applying machine learning techni...,Posted3 days ago,2022-05-20,"$88,000 - $220,000 a year",https://www.indeed.com/rc/clk?jk=d4892583d4d1b...
507,data scientist (multiple openings) - Remote,EAB,+1 locationRemote,Experience building complex data sets from mul...,Posted3 days ago,2022-05-20,"$88,000 - $220,000 a year",https://www.indeed.com/rc/clk?jk=d4892583d4d1b...
508,Data Scientist,EAB,+1 locationRemote,Experience with automatic machine learning (Au...,Posted3 days ago,2022-05-20,"$88,000 - $220,000 a year",https://www.indeed.com/rc/clk?jk=d4892583d4d1b...
509,Data Scientist,EAB,+1 locationRemote,"Performs duties related to data mining, machin...",Posted3 days ago,2022-05-20,"$88,000 - $220,000 a year",https://www.indeed.com/rc/clk?jk=d4892583d4d1b...

In [70]:
ind_df = pd.concat([test, remote,Dubai,Abu_Dhabhi,Uk,Australia,Singapore,Remote])

In [71]:
ind_df.to_csv('indeed_jobs.csv')

In [72]:
ind_df.shape

(3930, 8)